{% extends '::base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}" />
{% endblock %}

{% block body -%}
    <div id="fade">
      {% if twittos_to_alert %}
        <div id="popup_alert">{{ render(controller('CosaInstantTimelineBundle:Instant:alertTwittosTmp',{'id':entity.id})) }}</div>
      {% endif %}
    </div>
    <h1>Instant edit</h1>
    <a href="{{ path('instant_preview', { 'username':user.username, 'instant_title': entity.title }) }}">Preview</a>
    <input type="text" id="twitter_search" placeholder="twitter search" />
    <input type="button" value="Rechercher" onClick="js_twitter_search();" />
    <div>
      <div id="twitter_result" style="float:left;width:24%;height:400px;border:1px solid black;margin-right:1%;overflow-y:auto;overflow-x:visible;"></div>
      <div id="twittos" style="float:left;width:24%;height:400px;border:1px solid black;margin-right:1%;overflow-y:auto;">
        {% for twitto in twittos %}

        {% endfor %}
      </div>
      <div id="keywords" style="float:left;width:24%;height:400px;border:1px solid black;margin-right:1%;overflow-y:auto;">
        <ul id="keywords_ul">
          {% for keyword in keywords %}
            <li>{{ keyword.keyword }}</li>
          {% endfor %}
        </ul>
      </div>
      <div id="tweet_column2" style="float:left;width:24%;height:400px;border:1px solid black;overflow-y:auto;">
        <div id="tweet_list2">
          {% for tweet in tweets %}
            {% include 'CosaInstantTimelineBundle:Instant:tweet_bdd.html.twig' with {'tweet': tweet, 'draggable': false} %}
          {% endfor %}
        </div>
      </div>
      <span class="clearb"></span>
    </div>
    <input type="text" id="keyword" placeholder="keyword" />
    <input type="button" value="Ajouter" onClick="js_add_keyword();" />
    <input type="text" id="twittos_id" placeholder="twittos_id" />
    <input type="text" id="twittos_username" placeholder="twittos_username" />
    <input type="text" id="twittos_realname" placeholder="twittos_realname" />
    <input type="text" id="twittos_profile_image_url" placeholder="twittos_profile_image_url" />
    <input type="button" value="Ajouter" onClick="js_add_twittos();" />
    <form action="{{ path('instant_update', { 'username':user.username, 'instant_title': entity.title }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button name="bsubmit" id="save" value="save">Save</button>
            {% if entity.status!='publish' %}
              <button name="bsubmit" id="publish" value="publish" onclick="if(!controles){showPopups();return false;}">Publish</button>
            {% endif %}
        </p>
    </form>

    <ul class="record_actions">
      <li>
        <a href="{{ path('instant_list', { 'username':user.username } ) }}">
            Back to the list
        </a>
      </li>
      <!--<li>
        <form action="{{ path('instant_delete', { 'username':user.username, 'instant_title': entity.title }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {#{ form_widget(delete_form) }#}
            <button type="submit">Delete</button>
        </form>
      </li>-->
    </ul>
{% endblock %}

{% block javascripts %}
  <script src="{{  asset('js/jquery-ui.js') }}"></script>
  <script type="text/javascript">
    var controles = false;
    function showPopups(){
      {% if twittos_to_alert %}
        $('#fade').fadeIn();
        $('#popup_alert').fadeIn();
      {% else %}
        controles = true;
        $('#publish').click();
      {% endif %}
    }
    function postTwittosMsg(){
      $.ajax({
        type: "POST",
        url: "{{path('alert_twittos_tmp',{id:entity.id})}}",
        data: {
          'form[messageType]': $('#form_messageType').val(),
          'form[_token]': $('#form__token').val()
        }
      })
      .done(function( retour ) {
        if(retour['retour']){
          $('#popup_alert').fadeOut();
          $('#fade').fadeOut();
          controles = true;
          $('#publish').click();
        }else{
          alert('un problème est survenu');
        }
      });
    }
    function js_twitter_search() {
      $( "<li></li>" ).text( $('#twitter_search').val() ).appendTo($('#keywords_ul'));
      $.ajax({
        type: "POST",
        url: "{{path('instant_twitter_search')}}",
        data: {
          'q': encodeURIComponent($('#twitter_search').val())
        }
      })
      .done(function( retour ) {
        $('#twitter_result').html(retour);
        $( ".twitter_result_item" ).draggable({
          revert: true,
          appendTo: 'body',
          containment: 'window',
          scroll: false,
          helper: function(event) {
                return $(event.target).clone().css({
                    width: $(event.target).width()
                });},
          cursor: 'move',
  start: function(event, ui) {
    ui.position.top -= $(window).scrollTop();
  },
  drag: function(event, ui) {
    ui.position.top -= $(window).scrollTop();
  }
        });
      });
    }
    function js_add_keyword() {
      $.ajax({
        type: "POST",
        url: "{{path('instant_add_keyword',{instant_title:entity.title})}}",
        data: {
          'keyword': encodeURIComponent($('#keyword').val())
        }
      })
      .done(function( retour ) {
        $('#twitter_result').html(retour);
      });
    }
    function js_add_twittos() {
      $.ajax({
        type: "POST",
        url: "{{path('instant_add_twittos',{instant_title:entity.title})}}",
        data: {
          'twittos_id': $('#twittos_id').val(),
          'twittos_username': encodeURIComponent($('#twittos_username').val()),
          'twittos_realname': $('#twittos_realname').val(),
          'twittos_profile_image_url': $('#twittos_profile_image_url').val()
        }
      })
      .done(function( retour ) {
        $('#twitter_result').html(retour);
      });
    }
    $( "#twittos" ).droppable({
      activeClass: "ui-state-default",
      hoverClass: "ui-state-hover",
      drop: function( event, ui ) {
        var twitto = $('<div>');
        twitto.addClass('twitto');
        $('.tweet_image',ui.draggable).clone().appendTo(twitto);
        $('.tweet_screen_name',ui.draggable).clone().appendTo(twitto);
        twitto.appendTo($(this));
      //  $( this )
      //    .addClass( "ui-state-highlight" )
      //    .find( "p" )
      //      .html( "Dropped!" );
      }
    });
    $( "#tweet_column2" ).droppable({
      activeClass: "ui-state-default",
      hoverClass: "ui-state-hover",
      drop: function( event, ui ) {
        $('.tweet_content',ui.draggable).clone().appendTo($('#tweet_list2'));
      //  $( this )
      //    .addClass( "ui-state-highlight" )
      //    .find( "p" )
      //      .html( "Dropped!" );
      }
    });
  </script>
{% endblock %}
