{% extends '::base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
{% endblock %}

{% block body -%}
    <div id="fade">
      {% if twittos_to_alert %}
        <div id="popup_alert">{{ render(controller('CosaInstantTimelineBundle:Instant:alertTwittosTmp',{'id':entity.id})) }}</div>
      {% endif %}
    </div>
    <h1>Instant edit</h1>
    <a href="{{ path('instant_preview', { 'username':user.username, 'instant_title': entity.title }) }}">Preview</a>
    <form action="{{ path('instant_update', { 'username':user.username, 'instant_title': entity.title }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button name="bsubmit" id="save" value="save">Save</button>
            {% if entity.status!='publish' %}
              <button name="bsubmit" id="publish" value="publish" onclick="if(!controles){showPopups();return false;}">Publish</button>
            {% endif %}
        </p>
    </form>

    <ul class="record_actions">
      <li>
        <a href="{{ path('instant_list', { 'username':user.username } ) }}">
            Back to the list
        </a>
      </li>
      <!--<li>
        <form action="{{ path('instant_delete', { 'username':user.username, 'instant_title': entity.title }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {#{ form_widget(delete_form) }#}
            <button type="submit">Delete</button>
        </form>
      </li>-->
    </ul>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    var controles = false;
    function showPopups(){
      {% if twittos_to_alert %}
        $('#fade').fadeIn();
        $('#popup_alert').fadeIn();
      {% else %}
        controles = true;
        $('#publish').click();
      {% endif %}
    }
    function postTwittosMsg(){
      $.ajax({
        type: "POST",
        url: "{{path('alert_twittos_tmp',{id:entity.id})}}",
        data: {
          'form[messageType]': $('#form_messageType').val(),
          'form[_token]': $('#form__token').val()
        }
      })
      .done(function( retour ) {
        if(retour['retour']){
          $('#popup_alert').fadeOut();
          $('#fade').fadeOut();
          controles = true;
          $('#publish').click();
        }else{
          alert('un problème est survenu');
        }
      });
    }
  </script>
{% endblock %}
