{% extends '::base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}" />
{% endblock %}

{% block body -%}
    <div id="fade">
      {% if twittos_to_alert %}
        <div id="popup_alert">{{ render(controller('CosaInstantTimelineBundle:Instant:alertTwittosTmp',{'id':entity.id})) }}</div>
      {% endif %}
    </div>
    <h1>Instant edit</h1>
    <form>
      <label>Title</label>
      <input id="title" type="text" value="{{ entity.title }}" onFocusOut="js_cr_instant();"/>
      <label>Description</label>
      <input id="description" type="text" value="{{ entity.description }}" onFocusOut="js_cr_instant();"/>
      <input style="visibility:hidden;" type="submit" value="Save" onclick="return js_cr_instant();"/>
    </form>
    <a style="float:right;" href="{{ path('instant_preview', { 'username':user.username, 'instant_title': entity.title }) }}">Preview</a>
    <div class="clearb"></div>
    <div class="grid4">
      <div id="block-search" class="block">
        <div class="block-title">
          <form>
            <input type="text" id="twitter_search" placeholder="twitter search" />
            <input type="submit" value="Rechercher" onClick="return js_twitter_search();" />
          </form>
        </div>
        <div id="twitter_result" style="overflow-y:auto;overflow-x:visible;height:371px;" class="block-content">
        </div>
      </div>
      <div id="block-twittos" class="block">
        <div class="block-title">
          Who To Follow
        </div>
        <div id="twittos" style="overflow-y:auto;" class="block-content">
          {% for twitto in twittos %}
            <div class="twitto">
              <button style="float:right;color:red;font-weight:bold;" title="Remove" onclick="return js_rm_twittos({{twitto.id}},$(this).parent());">X</button>
              <div class="tweet_image">
                <a href="http://twitter.com/{{ twitto.user.twitterUsername }}" title="{{ twitto.user.twitterRealname }}"><img src="{{ twitto.user.profileImageUrl }}" width="48" height="48"></a>
              </div>
              <div class="tweet_screen_name">
                <a href="http://twitter.com/{{ twitto.user.twitterUsername }}" title="{{ twitto.user.twitterRealname }}">{{ twitto.user.twitterUsername }}</a>
                <span class="tweet_name">{{ twitto.user.twitterRealname }}</span>
              </div>
              <div class="description">
                <button onclick="$('#p_tw_{{ twitto.id }}').slideToggle();$('#edit_tw_{{ twitto.id }}').slideToggle();return false;">Edit description</button>
                <div id="p_tw_{{ twitto.id }}">
                  {{ twitto.description }}
                </div>
                <div id="edit_tw_{{ twitto.id }}" style="display:none;">
                  <form>
                    <textarea id="txta_{{ twitto.id }}" rows="4" style="width:96%;">
                      {{ twitto.description }}
                    </textarea>
                    <input type="submit" value="Save" onclick="return js_save_twittos_desc({{ twitto.id }});"/>
                  </form>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="block-footer">
          <form>
            <input type="text" id="twittos_username" placeholder="add a twittos" />
            <input type="submit" value="ADD" onClick="return js_add_twittos();" />
          </form>
        </div>
      </div>
      <div id="block-keyword" class="block">
        <div class="block-title">
          Keyword
        </div>
        <div id="keywords" style="overflow-y:auto;" class="block-content">
          {% for keyword in keywords %}
            <div class="keyword">
              <button style="float:right;color:red;margin-top:-2px;font-weight:bold;" title="Remove" onclick="return js_rm_keyword({{ keyword.id }},$(this).parent());">X</button>
              {{ keyword.keyword }}
            </div>
          {% endfor %}
        </div>
        <div class="block-footer">
          <form>
            <input type="text" id="keyword" placeholder="add a keyword" />
            <input type="submit" value="ADD" onClick="return js_add_keyword();" />
          </form>
        </div>
      </div>
      <div id="tweet_column2" class="block last">
        <div class="block-title">
          Timeline
        </div>
        <div id="tweet_list2" class="block-content" style="height:371px;overflow-y:auto;overflow-x:visible;">
          {% for tweet in tweets %}
            {% include 'CosaInstantTimelineBundle:Instant:tweet_bdd.html.twig' with {'tweet': tweet, 'draggable': false} %}
          {% endfor %}
        </div>
      </div>
      <span class="clearb"></span>
    </div>
    <br/>
    <input type="text" id="tweet_twitter_id" placeholder="tweet id" />
    <input type="text" id="tweet_text" placeholder="text" />
    <input type="text" id="tweet_name" placeholder="name" />
    <input type="text" id="tweet_screen_name" placeholder="screen name" />
    <input type="text" id="tweet_user_id" placeholder="user id" />
    <input type="text" id="tweet_profile_image_url" placeholder="profile image url" />
    <input type="text" id="tweet_location" placeholder="location" />
    <input type="text" id="tweet_media_url" placeholder="media url" />
    <input type="text" id="tweet_created_at" placeholder="created at (mm/dd/yyyy hh:mi:ss)" />
    <input type="button" value="Ajouter" onClick="js_add_tweet();" />
    <!--<form action="{{ path('instant_update', { 'username':user.username, 'instant_title': entity.title }) }}" method="post" {{ form_enctype(edit_form) }}>
>>>>>>> some style, modif create new instant, modif entity Instant (schema to update)
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button name="bsubmit" id="save" value="save">Save</button>
            {% if entity.status!='publish' %}
            {% endif %}
        </p>
    </form>-->

    <a href="{{ path('instant_list', { 'username':user.username } ) }}">Cancel</a>
    <button name="bsubmit" id="publish" value="publish" onclick="if(!controles){showPopups();return false;}">Publish</button>
{% endblock %}

{% block javascripts %}
  <script src="{{  asset('js/jquery-ui.js') }}"></script>
  <script type="text/javascript">
    var controles = false;
    function showPopups(){
      {% if twittos_to_alert %}
        $('#fade').fadeIn();
        $('#popup_alert').fadeIn();
      {% else %}
        controles = true;
        $('#publish').click();
      {% endif %}
    }
    function postTwittosMsg(){
      $.ajax({
        type: "POST",
        url: "{{path('alert_twittos_tmp',{id:entity.id})}}",
        data: {
          'form[messageType]': $('#form_messageType').val(),
          'form[_token]': $('#form__token').val()
        }
      })
      .done(function( retour ) {
        if(retour['retour']){
          $('#popup_alert').fadeOut();
          $('#fade').fadeOut();
          controles = true;
          $('#publish').click();
        }else{
          alert('un problème est survenu');
        }
      });
    }
    function js_twitter_search() {
      $.ajax({
        type: "POST",
        url: "{{path('instant_twitter_search')}}",
        data: {
          'q': encodeURIComponent($('#twitter_search').val())
        }
      })
      .done(function( retour ) {
        $('#twitter_result').html(retour);
        add_keyword($('#twitter_search').val());
        $( ".twitter_result_item" ).draggable({
          revert: true,
          appendTo: 'body',
          containment: 'window',
          scroll: false,
          helper: function(event) {
                return $(event.target).clone().css({
                    width: $(event.target).width()
                });},
          cursor: 'move',
          start: function(event, ui) {
            ui.position.top -= $(window).scrollTop();
          },
          drag: function(event, ui) {
            ui.position.top -= $(window).scrollTop();
          }
        });
      });
      return false;
    }
    function js_rm_keyword(keyword_id,elt)
    {
      if(!confirm('Sure ?'))
        return false;
      $.ajax({
        type: "GET",
        url: "{{path('instant_rm_keyword',{keyword_id:0})}}"+keyword_id,
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">Keyword removed !</div>');
          $(elt).remove();
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.msg+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
    function js_add_keyword() {
      return add_keyword($('#keyword').val());
    }
    function add_keyword(keyword)
    {
      $.ajax({
        type: "POST",
        url: "{{path('instant_add_keyword',{instant_title:entity.title})}}",
        data: {
          'keyword': encodeURIComponent(keyword)
        }
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">Keyword saved !</div>');
          $('#keywords').append($('<div class="keyword"><button style="float:right;color:red;margin-top:-2px;font-weight:bold;" title="Remove" onclick="return js_rm_keyword('+retour.id+',$(this).parent());">X</button>'+keyword+'</div>'));
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.msg+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
    function js_add_twittos() {
      return add_twittos($('#twittos_id').val(),encodeURIComponent($('#twittos_username').val()),encodeURIComponent($('#twittos_realname').val()),$('#twittos_profile_image_url').val());
    }
    function js_rm_twittos(twittos_id,elt)
    {
      if(!confirm('Sure ?'))
        return false;
      $.ajax({
        type: "GET",
        url: "{{path('instant_rm_twittos',{twittos_id:0})}}"+twittos_id,
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">Twittos removed !</div>');
          $(elt).remove();
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.msg+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
    function add_twittos(twitterID,username,name,profile_image_url,elt)
    {
      $.ajax({
        type: "POST",
        url: "{{path('instant_add_twittos',{instant_title:entity.title})}}",
        data: {
          'twittos_id': twitterID,
          'twittos_username': encodeURIComponent(username),
          'twittos_realname': encodeURIComponent(name),
          'twittos_profile_image_url': profile_image_url
        }
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">Twittos saved !</div>');
          $(elt).prepend('<button style="float:right;color:red;font-weight:bold;" title="Remove" onclick="return js_rm_twittos('+retour.id+',$(this).parent());">X</button>');
          $(elt).append('<div class="description"><button onclick="$(\'#p_tw_'+retour.id+'\').slideToggle();$(\'#edit_tw_'+retour.id+'\').slideToggle();return false;">Edit description</button><div id="p_tw_'+retour.id+'"></div><div id="edit_tw_'+retour.id+'" style="display:none;"><form><textarea id="txta_'+retour.id+'" rows="4" style="width:96%;"></textarea><input type="submit" value="Save" onclick="return js_save_twittos_desc('+retour.id+');"/></form></div></div>');
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.retour+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
    $( "#twittos" ).droppable({
      activeClass: "ui-state-default",
      hoverClass: "ui-state-hover",
      drop: function( event, ui ) {
        var twitto = $('<div>');
        twitto.addClass('twitto');
        $('.tweet_image',ui.draggable).clone().appendTo(twitto);
        $('.tweet_screen_name',ui.draggable).clone().appendTo(twitto);
        twitto.appendTo($(this));
        add_twittos($('.twitterID',ui.draggable).val(),$('.twitter_username',ui.draggable).val(),$('.twitter_realname',ui.draggable).val(),$('.twitter_profile_image_url',ui.draggable).val(),twitto);
      }
    });
    $( "#tweet_column2" ).droppable({
      activeClass: "ui-state-default",
      hoverClass: "ui-state-hover",
      drop: function( event, ui ) {
        $('.tweet_content',ui.draggable).clone().appendTo($('#tweet_list2'));
      }
    });
    function js_add_tweet() {
      add_tweet($('#tweet_twitter_id').val(),$('#tweet_text').val(),encodeURIComponent($('#tweet_name').val()),$('#tweet_screen_name').val(),$('#tweet_user_id').val(),$('#tweet_profile_image_url').val(),$('#tweet_location').val(),$('#tweet_media_url').val(),$('#tweet_created_at').val());
    }
    function add_tweet(twitter_id,text,name,screen_name,user_id,profile_image_url,location,media_url,created_at,elt)
    {
      $.ajax({
        type: "POST",
        url: "{{path('instant_add_tweet',{instant_title:entity.title})}}",
        data: {
          'twitter_id': twitter_id,
          'text': text,
          'name': name,
          'screen_name': screen_name,
          'user_id': user_id,
          'profile_image_url': profile_image_url,
          'location': location,
          'media_url': media_url,
          'created_at': created_at
    function js_save_twittos_desc(twitto_id)
    {
      $.ajax({
        type: "POST",
        url: "{{path('instant_up_twittos',{twittos_id:0})}}"+twitto_id,
        data: {
          'description': $('#txta_'+twitto_id).val()
        }
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">Description saved !</div>');
          $('#p_tw_'+twitto_id).html($('#txta_'+twitto_id).val());
          $('#p_tw_'+twitto_id).slideToggle();
          $('#edit_tw_'+twitto_id).slideToggle();
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.retour+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
    function js_cr_instant()
    {
      $.ajax({
        type: "POST",
        url: "{{path('instant_cr',{instant_id:entity.id})}}",
        data: {
          'title': $('#title').val(),
          'description': $('#description').val()
        }
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">Instant saved !</div>');
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.retour+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
  </script>
{% endblock %}
