{% extends '::base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}" />
{% endblock %}

{% block body -%}
    <div id="fade">
      {% if twittos_to_alert %}
        <div id="popup_alert">{{ render(controller('CosaInstantTimelineBundle:Instant:alertTwittosTmp',{'id':entity.id})) }}</div>
      {% endif %}
    </div>
    <h1>Instant edit</h1>
    <a href="{{ path('instant_preview', { 'username':user.username, 'instant_title': entity.title }) }}">Preview</a>
    <input type="text" id="twitter_search" placeholder="twitter search" />
    <input type="button" value="Rechercher" onClick="js_twitter_search();" />
    <div>
      <div id="twitter_result" style="float:left;width:24%;height:400px;border:1px solid black;margin-right:1%;overflow-y:auto;overflow-x:visible;"></div>
      <div id="twittos" style="float:left;width:24%;height:400px;border:1px solid black;margin-right:1%;overflow-y:auto;">
        {% for twitto in twittos %}
          <div class="twitto">
            <a href="#" style="float:right;color:red;font-weight:bold;" title="Remove" onclick="return js_rm_twittos({{twitto.id}},$(this).parent());">X</a>
            <div class="tweet_image">
              <a href="http://twitter.com/{{ twitto.user.twitterUsername }}" title="{{ twitto.user.twitterRealname }}"><img src="{{ twitto.user.profileImageUrl }}" width="48" height="48"></a>
            </div>
            <div class="tweet_screen_name">
              <a href="http://twitter.com/{{ twitto.user.twitterUsername }}" title="{{ twitto.user.twitterRealname }}">{{ twitto.user.twitterUsername }}</a>
              <span class="tweet_name">{{ twitto.user.twitterRealname }}</span>
            </div>
          </div>
        {% endfor %}
      </div>
      <div id="keywords" style="float:left;width:24%;height:400px;border:1px solid black;margin-right:1%;overflow-y:auto;">
          {% for keyword in keywords %}
            <div class="keyword"><a href="#" style="float:right;color:red;font-weight:bold;" title="Remove" onclick="return js_rm_keyword({{ keyword.id }},$(this).parent());">X</a>{{ keyword.keyword }}</div>
          {% endfor %}
      </div>
      <div id="tweet_column2" style="float:left;width:24%;height:400px;border:1px solid black;overflow-y:auto;">
        <div id="tweet_list2">
          {% for tweet in tweets %}
            {% include 'CosaInstantTimelineBundle:Instant:tweet_bdd.html.twig' with {'tweet': tweet, 'draggable': false} %}
          {% endfor %}
        </div>
      </div>
      <span class="clearb"></span>
    </div>
    <input type="text" id="keyword" placeholder="keyword" />
    <input type="button" value="Ajouter" onClick="js_add_keyword();" />
    <input type="text" id="twittos_id" placeholder="twittos_id" />
    <input type="text" id="twittos_username" placeholder="twittos_username" />
    <input type="text" id="twittos_realname" placeholder="twittos_realname" />
    <input type="text" id="twittos_profile_image_url" placeholder="twittos_profile_image_url" />
    <input type="button" value="Ajouter" onClick="js_add_twittos();" />
    <br/>
    <input type="text" id="tweet_twitter_id" placeholder="tweet id" />
    <input type="text" id="tweet_text" placeholder="text" />
    <input type="text" id="tweet_name" placeholder="name" />
    <input type="text" id="tweet_screen_name" placeholder="screen name" />
    <input type="text" id="tweet_user_id" placeholder="user id" />
    <input type="text" id="tweet_profile_image_url" placeholder="profile image url" />
    <input type="text" id="tweet_location" placeholder="location" />
    <input type="text" id="tweet_media_url" placeholder="media url" />
    <input type="text" id="tweet_created_at" placeholder="created at (mm/dd/yyyy hh:mi:ss)" />
    <input type="button" value="Ajouter" onClick="js_add_tweet();" />
    <form action="{{ path('instant_update', { 'username':user.username, 'instant_title': entity.title }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button name="bsubmit" id="save" value="save">Save</button>
            {% if entity.status!='publish' %}
              <button name="bsubmit" id="publish" value="publish" onclick="if(!controles){showPopups();return false;}">Publish</button>
            {% endif %}
        </p>
    </form>

    <ul class="record_actions">
      <li>
        <a href="{{ path('instant_list', { 'username':user.username } ) }}">
            Back to the list
        </a>
      </li>
      <!--<li>
        <form action="{{ path('instant_delete', { 'username':user.username, 'instant_title': entity.title }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {#{ form_widget(delete_form) }#}
            <button type="submit">Delete</button>
        </form>
      </li>-->
    </ul>
{% endblock %}

{% block javascripts %}
  <script src="{{  asset('js/jquery-ui.js') }}"></script>
  <script type="text/javascript">
    var controles = false;
    function showPopups(){
      {% if twittos_to_alert %}
        $('#fade').fadeIn();
        $('#popup_alert').fadeIn();
      {% else %}
        controles = true;
        $('#publish').click();
      {% endif %}
    }
    function postTwittosMsg(){
      $.ajax({
        type: "POST",
        url: "{{path('alert_twittos_tmp',{id:entity.id})}}",
        data: {
          'form[messageType]': $('#form_messageType').val(),
          'form[_token]': $('#form__token').val()
        }
      })
      .done(function( retour ) {
        if(retour['retour']){
          $('#popup_alert').fadeOut();
          $('#fade').fadeOut();
          controles = true;
          $('#publish').click();
        }else{
          alert('un problème est survenu');
        }
      });
    }
    function js_twitter_search() {
      $.ajax({
        type: "POST",
        url: "{{path('instant_twitter_search')}}",
        data: {
          'q': encodeURIComponent($('#twitter_search').val())
        }
      })
      .done(function( retour ) {
        $('#twitter_result').html(retour);
        add_keyword($('#twitter_search').val());
        $( ".twitter_result_item" ).draggable({
          revert: true,
          appendTo: 'body',
          containment: 'window',
          scroll: false,
          helper: function(event) {
                return $(event.target).clone().css({
                    width: $(event.target).width()
                });},
          cursor: 'move',
          start: function(event, ui) {
            ui.position.top -= $(window).scrollTop();
          },
          drag: function(event, ui) {
            ui.position.top -= $(window).scrollTop();
          }
        });
      });
    }
    function js_rm_keyword(keyword_id,elt)
    {
      if(!confirm('Sure ?'))
        return false;
      $.ajax({
        type: "GET",
        url: "{{path('instant_rm_keyword',{keyword_id:0})}}"+keyword_id,
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">Keyword removed !</div>');
          $(elt).remove();
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.msg+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return true;
    }
    function js_add_keyword() {
      add_keyword($('#keyword').val());
    }
    function add_keyword(keyword)
    {
      $.ajax({
        type: "POST",
        url: "{{path('instant_add_keyword',{instant_title:entity.title})}}",
        data: {
          'keyword': encodeURIComponent(keyword)
        }
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">Keyword saved !</div>');
          $('#keywords').append($('<div class="keyword"><a href="#" style="float:right;color:red;font-weight:bold;" title="Remove" onclick="return js_rm_keyword('+retour.id+',$(this).parent());">X</a>'+keyword+'</div>'));
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.msg+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
    }
    function js_add_twittos() {
      add_twittos($('#twittos_id').val(),encodeURIComponent($('#twittos_username').val()),encodeURIComponent($('#twittos_realname').val()),$('#twittos_profile_image_url').val());
    }
    function js_rm_twittos(twittos_id,elt)
    {
      if(!confirm('Sure ?'))
        return false;
      $.ajax({
        type: "GET",
        url: "{{path('instant_rm_twittos',{twittos_id:0})}}"+twittos_id,
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">Twittos removed !</div>');
          $(elt).remove();
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.msg+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return true;
    }
    function add_twittos(twitterID,username,name,profile_image_url,elt)
    {
      $.ajax({
        type: "POST",
        url: "{{path('instant_add_twittos',{instant_title:entity.title})}}",
        data: {
          'twittos_id': twitterID,
          'twittos_username': encodeURIComponent(username),
          'twittos_realname': encodeURIComponent(name),
          'twittos_profile_image_url': profile_image_url
        }
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">Twittos saved !</div>');
          $(elt).prepend('<a href="#" style="float:right;color:red;font-weight:bold;" title="Remove" onclick="return js_rm_twittos('+retour.id+',$(this).parent());">X</a>');
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.retour+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
    }
    $( "#twittos" ).droppable({
      activeClass: "ui-state-default",
      hoverClass: "ui-state-hover",
      drop: function( event, ui ) {
        var twitto = $('<div>');
        twitto.addClass('twitto');
        $('.tweet_image',ui.draggable).clone().appendTo(twitto);
        $('.tweet_screen_name',ui.draggable).clone().appendTo(twitto);
        twitto.appendTo($(this));
        add_twittos($('.twitterID',ui.draggable).val(),$('.twitter_username',ui.draggable).val(),$('.twitter_realname',ui.draggable).val(),$('.twitter_profile_image_url',ui.draggable).val(),twitto);
      //  $( this )
      //    .addClass( "ui-state-highlight" )
      //    .find( "p" )
      //      .html( "Dropped!" );
      }
    });
    $( "#tweet_column2" ).droppable({
      activeClass: "ui-state-default",
      hoverClass: "ui-state-hover",
      drop: function( event, ui ) {
        $('.tweet_content',ui.draggable).clone().appendTo($('#tweet_list2'));
      //  $( this )
      //    .addClass( "ui-state-highlight" )
      //    .find( "p" )
      //      .html( "Dropped!" );
      }
    });
    function js_add_tweet() {
      add_tweet($('#tweet_twitter_id').val(),$('#tweet_text').val(),encodeURIComponent($('#tweet_name').val()),$('#tweet_screen_name').val(),$('#tweet_user_id').val(),$('#tweet_profile_image_url').val(),$('#tweet_location').val(),$('#tweet_media_url').val(),$('#tweet_created_at').val());
    }
    function add_tweet(twitter_id,text,name,screen_name,user_id,profile_image_url,location,media_url,created_at,elt)
    {
      $.ajax({
        type: "POST",
        url: "{{path('instant_add_tweet',{instant_title:entity.title})}}",
        data: {
          'twitter_id': twitter_id,
          'text': text,
          'name': name,
          'screen_name': screen_name,
          'user_id': user_id,
          'profile_image_url': profile_image_url,
          'location': location,
          'media_url': media_url,
          'created_at': created_at
        }
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">Tweet saved !</div>');
          $(elt).prepend('<a href="#" style="float:right;color:red;font-weight:bold;" title="Remove">X</a>');
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.retour+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
    }
  </script>
{% endblock %}
