{% extends '::base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}" />
{% endblock %}

{% block body -%}
    <script type="text/javascript">
      var twittos = new Array();
      var keywords = new Array();
      var tweets = new Array();
    </script>
    {% if twittos_to_alert %}
      <div id="fade"></div>
      <div id="popup_alert">{{ render(controller('CosaInstantTimelineBundle:Instant:alertTwittosTmp',{'id':entity.id})) }}</div>
    {% endif %}
    <form>
      <input id="title" type="text" value="{{ entity.title }}" onblur="js_cr_instant();"/>
      <input id="description" type="text" value="{{ entity.description }}" onblur="js_cr_instant();" placeholder="{% trans %}set the description here{% endtrans %}"/>
      <input style="visibility:hidden;" type="submit" value="{% trans %}Save{% endtrans %}" onclick="return js_cr_instant();"/>
    </form>
    <button style="float:right" onclick="window.open('{{ path('instant_preview', { 'instant_id': entity.id }) }}','_newtab');">{% trans %}Preview{% endtrans %}</button>
    <div class="clearb"></div>
    <div class="grid4">
      <div id="block-search" class="block">
        <div class="block-title">
          <a href="#" onclick="$('#geoloc').slideToggle();return false;" style="float:right;">adv</a>
          <form>
            <input type="text" id="twitter_search" placeholder="{% trans %}terms{% endtrans %} ?" />
            <input type="submit" value="{% trans %}Search{% endtrans %}" onClick="return js_twitter_search(true);" />
          </form>
          <div id="geoloc" style="display:none;">
            <h4>{% trans %}Lang{% endtrans %}</h4>
            <input type="text" id="lang" value="" placeholder="set the language (en/fr/es/...)"/>
            <h4>{% trans %}Geolocation{% endtrans %}</h4>
            <label>{% trans %}Radius:{% endtrans %}</label><input type="integer" id="geo_radius" value="10" placeholder="{% trans %}set the radius (mi){% endtrans %}" />
            <input type="hidden" id="geo_lat" value="" placeholder="set the lat"/>
            <input type="hidden" id="geo_lon" value="" placeholder="set the lon"/>
            <form>
              <input type="text" id="geo_search" placeholder="{% trans %}location{% endtrans %} ?" />
              <input type="submit" value="{% trans %}Search{% endtrans %}" onClick="return js_geo_search();" />
            </form>
            <div id="autogeo" style="display:none;"></div>
          </div>
        </div>
        <div id="twitter_result" style="overflow-y:auto;overflow-x:hidden;height:371px;" class="block-content">
        </div>
      </div>
      <div id="block-twittos" class="block">
        <div class="block-title">
          {% trans %}Who To Follow{% endtrans %}
        </div>
        <div id="twittos" style="overflow-y:auto;" class="block-content">
          {% for twitto in twittos %}
            <div class="twitto">
              <button style="float:right;color:red;font-weight:bold;" title="{% trans %}Remove{% endtrans %}" onclick="return js_rm_twittos({{twitto.id}},$(this).parent(),'{{ twitto.user.twitterID }}');">X</button>
              <div class="tweet_image">
                <a href="http://twitter.com/{{ twitto.user.twitterUsername }}" title="{{ twitto.user.twitterRealname }}
{{ twitto.user.twitterDescription }}"><img src="{{ twitto.user.profileImageUrl }}" width="48" height="48"></a>
              </div>
              <div class="tweet_screen_name">
                <a href="http://twitter.com/{{ twitto.user.twitterUsername }}" title="{{ twitto.user.twitterRealname }}
{{ twitto.user.twitterDescription }}"  onclick="return searchFrom('{{ twitto.user.twitterUsername }}');">{{ twitto.user.twitterUsername }}</a>
                <span class="tweet_name">{{ twitto.user.twitterRealname }}</span>
              </div>
              <div class="description">
                <button onclick="$('#p_tw_{{ twitto.id }}').slideToggle();$('#edit_tw_{{ twitto.id }}').slideToggle();return false;">{% trans %}Edit comment{% endtrans %}</button>
                <div id="p_tw_{{ twitto.id }}">
                  {{ twitto.description }}
                </div>
                <div id="edit_tw_{{ twitto.id }}" style="display:none;">
                  <form>
                    <textarea id="txta_{{ twitto.id }}" rows="4" style="width:96%;" onblur="return js_save_twittos_desc({{ twitto.id }});">
                      {{ twitto.description }}
                    </textarea>
                    <input type="submit" value="{% trans %}Save{% endtrans %}" onclick="return js_save_twittos_desc({{ twitto.id }});"/>
                  </form>
                </div>
              </div>
            </div>
            <script type="text/javascript">twittos.push('{{ twitto.user.twitterID }}');</script>
          {% endfor %}
        </div>
        <div class="block-footer">
          <button onclick="$(this).hide();$('#addtw').fadeIn();$('#twittos_username').focus();">{% trans %}ADD A TWITTOS{% endtrans %}</button>
          <form id="addtw" style="display:none;">
            <input type="text" id="twittos_username" placeholder="{% trans %}add a twittos{% endtrans %}" />
            <input type="submit" value="{% trans %}ADD{% endtrans %}" onClick="return js_add_twittos();" />
            <div id="autotwittos"></div>
          </form>
        </div>
      </div>
      <div id="block-keyword" class="block">
        <div class="block-title">
          {% trans %}Keyword{% endtrans %}
        </div>
        <div id="keywords" style="overflow-y:auto;" class="block-content">
          {% for keyword in keywords %}
            <div class="keyword">
              <button style="float:right;color:red;margin-top:-2px;font-weight:bold;" title="{% trans %}Remove{% endtrans %}" onclick="return js_rm_keyword({{ keyword.id }},$(this).parent(),'{{ keyword.keyword }}');">X</button>
              {{ keyword.keyword }}
            </div>
            <script type="text/javascript">keywords.push('{{ keyword.keyword }}');</script>
          {% endfor %}
        </div>
        <div class="block-footer">
          <button onclick="$(this).hide();$('#addkw').fadeIn();$('#keyword').focus();">{% trans %}ADD A KEYWORD{% endtrans %}</button>
          <form id="addkw" style="display:none;">
            <input type="text" id="keyword" placeholder="{% trans %}add a keyword{% endtrans %}" />
            <input type="submit" value="{% trans %}ADD{% endtrans %}" onClick="return js_add_keyword();" />
          </form>
        </div>
      </div>
      <div id="tweet_column2" class="block last">
        <button onclick="refreshTimeline();" style="float:right;">{% trans %}Refresh{% endtrans %}</button>
        <div class="block-title">
          {% trans %}Timeline{% endtrans %}
        </div>
        <div id="tweet_list2" class="block-content" style="height:371px;overflow-y:auto;overflow-x:hidden;">
          {% for tweet in tweets %}
            {% include 'CosaInstantTimelineBundle:Instant:tweet_bdd.html.twig' with {'tweet': tweet, 'draggable': false, 'editable': true} %}
            <script type="text/javascript">tweets.push('{{ tweet.twitterID }}');</script>
          {% endfor %}
        </div>
      </div>
      <span class="clearb"></span>
    </div>
    <button name="bsubmit" id="publish" onclick="if(!controles){showPopups();return false;}else{document.location.href='{{ path('instant_update', { 'instant_id': entity.id }) }}';}">{% trans %}Publish{% endtrans %}</button>
    <button name="bsave" id="save" value="save" onclick="return js_save();">Save</button>
    <button id="cancel" onclick="document.location.href='{{ path('instant_list', { 'username':user.twitterUsername } ) }}';">{% trans %}Cancel{% endtrans %}</button>
    <form action="{{ path('instant_clear', { 'instant_id': entity.id } ) }}" style="display: inline;">
        <input type="submit" value="Clear" onclick="return confirm('This will erase every tweet, tweetos and keyword.\n\nAre you sure?')" />
    </form>
{% endblock %}

{% block javascripts %}
  <script src="{{  asset('js/jquery-ui.js') }}"></script>
  <script type="text/javascript">
    var controles = false;
    function showPopups(){
      {% if twittos_to_alert %}
        $('#fade').fadeIn();
        $('#popup_alert').fadeIn();
      {% else %}
        controles = true;
        $('#publish').click();
      {% endif %}
    }
    function postTwittosMsg(){
      $.ajax({
        type: "POST",
        url: "{{path('alert_twittos_tmp',{id:entity.id})}}",
        data: {
          'form[messageType]': $('#form_messageType').val(),
          'form[_token]': $('#form__token').val()
        }
      })
      .done(function( retour ) {
        if(retour['retour']){
          $('#popup_alert').fadeOut();
          $('#fade').fadeOut();
          controles = true;
          $('#publish').click();
        }else{
          alert('{% trans %}Problem occured{% endtrans %}');
        }
      });
    }
    function js_geo_search()
    {
      $('#autogeo').html('<img src="{{ asset('images/ajax-loader.gif') }}" alt="loading..."/>');
      $('#autogeo').fadeIn();
      $.ajax({
        type: "POST",
        url: "{{path('instant_geo_search')}}",
        data: {
          'q': encodeURIComponent($('#geo_search').val())
        }
      })
      .done(function( retour ) {
        $('#autogeo').html('');
        if(retour.retour){
          $.each(retour.datas.result.places , function(key,place) {
            var lat = 0;
            var lon = 0;
            for(var i=0;i<4;i++){
              lon += place.bounding_box.coordinates[0][i][0];
              lat += place.bounding_box.coordinates[0][i][1];
            }
            lat /= 4;
            lon /= 4;
            var elt = $('<div class="geoplace" onclick="$(\'#geo_lat\').val('+lat+');$(\'#geo_lon\').val('+lon+');$(\'#autogeo\').hide();$(\'#geoloc\').slideToggle();">'+lat+':'+lon+'<br/>'+place.full_name+' ('+place.country+')</div>');
            $('#autogeo').append(elt);
          });
        }else{
          alert(retour.msg);
        }
      });
      return false;
    }
    function js_twitter_search(addkeyword) {
      $('#geoloc').hide();
      $('#twitter_result').html('<img src="{{ asset('images/ajax-loader.gif') }}" alt="loading..."/>');
      $.ajax({
        type: "POST",
        url: "{{path('instant_twitter_search')}}",
        data: {
          'q': encodeURIComponent($('#twitter_search').val()),
          'lat':$('#geo_lat').val(),
          'lon':$('#geo_lon').val(),
          'radius':$('#geo_radius').val(),
          'lang':$('#lang').val()
        }
      })
      .done(function( retour ) {
        $('#twitter_result').html(retour);
        if(addkeyword){
          add_keyword($('#twitter_search').val());
        }
        $( ".twitter_result_item" ).draggable({
          revert: true,
          appendTo: 'body',
          containment: 'window',
          scroll: false,
          helper: function(event) {
                return $(event.target).closest(".ui-draggable").clone().css({
                    width: $(event.target).width()
                });},
          cursor: 'move',
          start: function(event, ui) {
            ui.position.top -= $(window).scrollTop();
          },
          drag: function(event, ui) {
            ui.position.top -= $(window).scrollTop();
          }
        });
      });
      return false;
    }
    function js_rm_keyword(keyword_id,elt,keyword)
    {
      if(!confirm('Sure ?'))
        return false;
      $.ajax({
        type: "GET",
        url: "{{path('instant_rm_keyword',{keyword_id:0})}}"+keyword_id,
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">{% trans %}Keyword removed{% endtrans %} !</div>');
          $(elt).remove();
          rm_from_array(keyword,keywords);
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.msg+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
    function in_array(needle, haystack) {
      for(var i in haystack) {
        if(haystack[i] == needle)
          return true;
      }
      return false;
    }
    function rm_from_array(needle, haystack) {
      var i = haystack.indexOf(needle);
      if(i != -1) {
        haystack.splice(i, 1);
      }
    }
    function js_add_keyword() {
      return add_keyword($('#keyword').val());
    }
    function add_keyword(keyword)
    {
      keyw = keyword.split(' ');
      $.each(keyw, function(key,keywo) {
        var keywor = keywo.toLowerCase();
        c_keywor = keywor.replace(/'/g,"\\'");
        if(in_array(keywor, keywords))
          return false;
        $.ajax({
          type: "POST",
          url: "{{path('instant_add_keyword',{instant_id:entity.id})}}",
          data: {
            'keyword': keywor,
          }
        })
        .done(function( retour ) {
          if(retour.retour){
            var msg = $('<div class="flash-message flash-notice">{% trans %}Keyword saved{% endtrans %} !</div>');
            $('#keywords').append($('<div class="keyword"><button style="float:right;color:red;margin-top:-2px;font-weight:bold;" title="{% trans %}Remove{% endtrans %}" onclick="return js_rm_keyword('+retour.id+',$(this).parent(),\''+c_keywor+'\');">X</button>'+keywor+'</div>'));
            keywords.push(keywor);
          }else{
            var msg = $('<div class="flash-message flash-error">'+retour.msg+'</div>');
          }
          $('#flash-messages').append(msg);
          msg.delay(3000).fadeOut(1000);
        });
      });
      return false;
    }
    function js_save()
    {
        var msg = $('<div class="flash-message flash-notice">Instant saved !</div>');
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
    }
    function js_add_twittos() {
      return add_twittos2($('#twittos_username').val());
    }
    function js_rm_twittos(twittos_id,elt,twitter_id)
    {
      if(!confirm('Sure ?'))
        return false;
      $.ajax({
        type: "GET",
        url: "{{path('instant_rm_twittos',{twittos_id:0})}}"+twittos_id,
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">{% trans %}Twittos removed{% endtrans %} !</div>');
          $(elt).remove();
          rm_from_array(twitter_id, twittos);
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.msg+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
    function add_twittos2(username)
    {
      $('#autotwittos').hide();
      $('#autotwittos').html('');
      $.ajax({
        type: "POST",
        url: "{{path('instant_add_twittos2',{instant_id:entity.id})}}",
        data: {
          'twittos_username': username
        }
      })
      .done(function( retour ) {
        if(retour.retour){
          if(retour.users){
            $.each(retour.users, function(key, user) {
              c_screen_name = user.screen_name.replace(/'/g,"\\'");
              c_name = user.name.replace(/'/g,"\\'");
              c_description = user.description.replace(/'/g,"\\'").replace(/[\n\r]/g, '');
              $('#autotwittos').append('<div class="twittos" onclick="cr_twittos(\''+c_screen_name+'\',\''+c_name+'\',\''+user.profile_image_url+'\',\''+user.id_str+'\',\''+c_description+'\');"><img src="'+user.profile_image_url+'"/><div><span class="username">'+user.screen_name+'</span><span class="name">'+user.name+'</span><br/><span class="description">'+user.description+'</span><span style="display:none;">'+user.id_str+'</span><br/><span class="location">'+user.location+'</span></div><div class="clearb"></div></div>');
            });
            $('#autotwittos').fadeIn();
            return false;
          }else{
            if(in_array(retour.twitterID, twittos))
              return false;
            var msg = $('<div class="flash-message flash-notice">{% trans %}Twittos saved{% endtrans %} !</div>');
            var elt = $('<div class="twitto"><button style="float:right;color:red;font-weight:bold;" title="{% trans %}Remove{% endtrans %}" onclick="return js_rm_twittos('+retour.id+',$(this).parent(),\''+retour.twitterID+'\');">X</button><div class="tweet_image"><a href="http://twitter.com/'+retour.username+'" title="'+retour.name+"\r\n"+retour.userDescription+'"><img src="'+retour.profile_image_url+'" width="48" height="48"></a></div><div class="tweet_screen_name"><a href="http://twitter.com/'+retour.username+'" title="'+retour.name+"\r\n"+retour.userDescription+'" onclick="return searchFrom(\''+retour.username+'\');">'+retour.username+'</a><span class="tweet_name">'+retour.name+'</span></div><div class="description"><button onclick="$(\'#p_tw_'+retour.id+'\').slideToggle();$(\'#edit_tw_'+retour.id+'\').slideToggle();return false;">{% trans %}Edit comment{% endtrans %}</button><div id="p_tw_'+retour.id+'"></div><div id="edit_tw_'+retour.id+'" style="display:none;"><form><textarea id="txta_'+retour.id+'" rows="4" style="width:96%;" onblur="return js_save_twittos_desc('+retour.id+');"></textarea><input type="submit" value="{% trans %}Save{% endtrans %}" onclick="return js_save_twittos_desc('+retour.id+');"/></form></div></div>');
            $('#twittos').append(elt);
            twittos.push(retour.twitterID);
          }
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.msg+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
    function cr_twittos(screen_name,name,profile_image_url,id_str,desc)
    {
      $('#autotwittos').hide();
      var elt = $('<div class="twitto"><div class="tweet_image"><a href="http://twitter.com/'+screen_name+'" title="'+name+"\r\n"+desc+'"><img src="'+profile_image_url+'" width="48" height="48"></a></div><div class="tweet_screen_name"><a href="http://twitter.com/'+screen_name+'" title="'+name+"\r\n"+desc+'">'+screen_name+'</a><span class="tweet_name">'+name+'</span></div></div>');
      $('#twittos').append(elt);
      add_twittos(id_str,screen_name,name,profile_image_url,desc,elt);
    }
    function add_twittos(twitterID,username,name,profile_image_url,desc,elt)
    {
      if(in_array(twitterID, twittos)){
        $(elt).remove();
        return false;
      }
      $.ajax({
        type: "POST",
        url: "{{path('instant_add_twittos',{instant_id:entity.id})}}",
        data: {
          'twittos_id': twitterID,
          'twittos_username': username,
          'twittos_realname': name,
          'twittos_profile_image_url': profile_image_url,
          'twittos_description': desc,
        }
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">{% trans %}Twittos saved{% endtrans %} !</div>');
          $(elt).prepend('<button style="float:right;color:red;font-weight:bold;" title="{% trans %}Remove{% endtrans %}" onclick="return js_rm_twittos('+retour.id+',$(this).parent(),\''+twitterID+'\');">X</button>');
          $(elt).append('<div class="description"><button onclick="$(\'#p_tw_'+retour.id+'\').slideToggle();$(\'#edit_tw_'+retour.id+'\').slideToggle();return false;">{% trans %}Edit comment{% endtrans %}</button><div id="p_tw_'+retour.id+'"></div><div id="edit_tw_'+retour.id+'" style="display:none;"><form><textarea id="txta_'+retour.id+'" rows="4" style="width:96%;" onblur="return js_save_twittos_desc('+retour.id+');"></textarea><input type="submit" value="{% trans %}Save{% endtrans %}" onclick="return js_save_twittos_desc('+retour.id+');"/></form></div></div>');
          twittos.push(twitterID);
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.retour+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
    $( "#twittos" ).droppable({
      activeClass: "ui-state-default",
      hoverClass: "ui-state-hover",
      drop: function( event, ui ) {
        var twitto = $('<div>');
        twitto.addClass('twitto');
        $('.tweet_image',ui.draggable).clone().appendTo(twitto);
        $('.tweet_screen_name',ui.draggable).clone().appendTo(twitto);
        twitto.appendTo($(this));
        add_twittos(
          $('.twitterID',ui.draggable).val(),
          $('.twitter_username',ui.draggable).val(),
          $('.twitter_realname',ui.draggable).val(),
          $('.twitter_profile_image_url',ui.draggable).val(),
          $('.twitter_description',ui.draggable).val(),
          twitto
        );
      }
    });
    $( "#tweet_column2" ).droppable({
      activeClass: "ui-state-default",
      hoverClass: "ui-state-hover",
      drop: function( event, ui ) {
        //var tweet = $('.tweet',ui.draggable).clone();
        //tweet.appendTo($('#tweet_list2'));
        add_tweet(
          $('.twitter_id_str',ui.draggable).val(),
          $('.twitter_text',ui.draggable).val(),
          $('.twitter_realname',ui.draggable).val(),
          $('.twitter_username',ui.draggable).val(),
          $('.twitter_description',ui.draggable).val(),
          $('.twitterID',ui.draggable).val(),
          $('.twitter_profile_image_url',ui.draggable).val(),
          $('.twitter_location',ui.draggable).val(),
          $('.twitter_media_url',ui.draggable).val(),
          $('.twitter_created_at',ui.draggable).val()//,
          //tweet
        );
      }
    });
    function js_add_tweet() {
      add_tweet($('#tweet_twitter_id').val(),$('#tweet_text').val(),$('#tweet_name').val(),$('#tweet_screen_name').val(),$('#tweet_user_id').val(),$('#tweet_profile_image_url').val(),$('#tweet_location').val(),$('#tweet_media_url').val(),$('#tweet_created_at').val());
    }
    function add_tweet(twitter_id,text,name,screen_name,desc,user_id,profile_image_url,location,media_url,created_at)//,elt)
    {
      if(in_array(twitter_id, tweets)){
        //$(elt).remove();
        return false;
      }
      $.ajax({
        type: "POST",
        url: "{{path('instant_add_tweet',{instant_id:entity.id})}}",
        data: {
          'twitter_id': twitter_id,
          'text': text,
          'name': name,
          'screen_name': screen_name,
          'description': desc,
          'user_id': user_id,
          'profile_image_url': profile_image_url,
          'location': location,
          'media_url': media_url,
          'created_at': created_at
        }
      })
      .done(function( retour ) {
        if(retour.retour){
          //var msg = $('<div class="flash-message flash-notice">Timeline saved !</div>');
          //$(elt).prepend('<button style="float:right;color:red;font-weight:bold;" title="Remove" onclick="return js_rm_tweet('+retour.id+',$(this).parent(),\''+twitter_id+'\');">X</button>');
          tweets.push(twitter_id);
          refreshTimeline();
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.retour+'</div>');
        //}
          $('#flash-messages').append(msg);
          msg.delay(3000).fadeOut(1000);
        }
      });
      return false;
    }
    function js_save_twittos_desc(twitto_id)
    {
      $.ajax({
        type: "POST",
        url: "{{path('instant_up_twittos',{twittos_id:0})}}"+twitto_id,
        data: {
          'description': $('#txta_'+twitto_id).val()
        }
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">{% trans %}Comment saved{% endtrans %} !</div>');
          $('#p_tw_'+twitto_id).html($('#txta_'+twitto_id).val());
          $('#p_tw_'+twitto_id).slideToggle();
          $('#edit_tw_'+twitto_id).slideToggle();
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.retour+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
    function js_rm_tweet(tweet_id,elt,twitter_id)
    {
      if(!confirm('Sure ?'))
        return false;
      $.ajax({
        type: "GET",
        url: "{{path('instant_rm_tweet',{instant_id:entity.id,tweet_id:0})}}"+tweet_id,
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">{% trans %}Tweet removed{% endtrans %} !</div>');
          $(elt).remove();
          rm_from_array(twitter_id, tweets);
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.msg+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
    function js_cr_instant()
    {
      $.ajax({
        type: "POST",
        url: "{{path('instant_cr',{instant_id:entity.id})}}",
        data: {
          'title': $('#title').val(),
          'description': $('#description').val()
        }
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">{% trans %}Instant saved{% endtrans %} !</div>');
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.retour+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
    function refreshTimeline()
    {
      $.ajax({
        type: "POST",
        url: "{{path('instant_refresh_timeline',{instant_id:entity.id})}}"
      })
      .done(function( retour ) {
        if(retour.retour){
          $('#tweet_list2').html(retour.html);
          var msg = $('<div class="flash-message flash-notice">{% trans %}Timeline refreshed{% endtrans %} !</div>');
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.retour+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
    function searchFrom(username)
    {
      $('#twitter_search').val('from:'+username);
      return js_twitter_search(false);
    }
  </script>
{% endblock %}
