{% extends '::base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}" />
{% endblock %}

{% block instant_title %}
      <div class="editable-title">
    <form>
      <h2>
      <input id="title" class="editable-title2" type="text" value="{{ entity.title }}" onblur="js_cr_instant();"/>
      </h2>
      <input id="description" class="editable-title3" type="text" value="{{ entity.description }}" onblur="js_cr_instant();" placeholder="{% trans %}set the description here{% endtrans %}"/>
      <input style="visibility:hidden;" type="submit" value="{% trans %}Save{% endtrans %}" onclick="return js_cr_instant();"/>
    </form>
      </div>
{% endblock %}
{% block body -%}
    <script type="text/javascript">
      var twittos = new Array();
      var keywords = new Array();
      var tweets = new Array();
      var searches = new Array();
      var search_ind = false;
    </script>
      <div id="fade"></div>
      <div id="popup_alert">{{ render(controller('CosaInstantTimelineBundle:Instant:alertTwittosTmp',{'id':entity.id})) }}</div>
  <div class="container2" style="height: 90%; width:80%;   margin-left: 9%;
margin-right: 10%; margin-top:2%; margin-bottom:70px !important;" >

    <div style="height:25px; width:24%; margin-left: 1%; background-color:#efefef;float:left; ">
      <div class="col-title">Tweets</div>
    </div>
    <div style="height:25px; width:24%; margin-left: 1%; background-color:#efefef;float:left; ">
      <div class="col-title">Who to follow</div>
    </div>
    <div style="height:25px; width:24%; margin-left: 1%; float:left; ">
      <div class="col-title">Tweets containing</div>
    </div>
    <div style="height:25px; width:24%; margin-left: 1%; float:left; ">
      <div class="col-title">Timeline</div>
    </div>
    <div style="clear:both;"></div>



<div style="height: 90%;overflow:auto; width:24%; border:#ccc 1px solid; margin-left: 1%; float:left; background-color:#fff;">






        <div class="search-box">
        <div style="display:inline-block; width:100%; margin:0px; padding:0px;">        
               
          <a href="#"><div class="icon icon-arrow-l" onclick="lastSearch();"></div></a><a href="#"><div class="icon icon-arrow-r" onclick="nextSearch();"></div></a><div class="search-input"><form onsubmit="return js_twitter_search(true);"><input type="text" id="twitter_search" style="background:none; border:none;"><input type="submit" style="display:none" onclick="return js_twitter_search(true);"/></form></div><a href="#"><a href="#" onclick="return js_twitter_search(true);"><span class="icon icon-search-1"></span></a><a href="#" onclick="$('#search-adv').slideToggle();return false;"><span class="icon icon-search-adv-1"></span></a>
        </div>

                
          <div id="search-adv" style="display:none;">
          <div class="sorting-wrap2">
            <span class="sorting-box2" ><input type="radio" name="result_type" style="background:none; border:none;" value="recent" checked/>Recent</span>
            <span class="sorting-box2" ><input type="radio" name="result_type" style="background:none; border:none;" value="popular" />Popular</span>
            <span class="sorting-box2" ><input type="radio" name="result_type" style="background:none; border:none;" value="mixed" />Mixed</span></div><a href="#" onclick="$('#search-adv').slideToggle();return false;" ><span class="icon icon-search-adv-close"></span></a>
          <form>
          <fieldset>
            <select id = "Languages">
              <option value = "">All languages</option>
              <option value = "en">English</option>
              <option value = "fr">French</option>
              <option value = "es">Spanish</option>
            </select>
          </fieldset>
          </form>
          
            <input type="hidden" id="geo_lat" value="" />
            <input type="hidden" id="geo_lon" value="" />
            <input type="hidden" id="geo_search_registered" value="" />
            <form onsubmit="return js_geo_search();">
              <div style="display:inline-block; width:100%; margin:0px; padding:0px;">
              <div class="geolocation-input">
              <div id="geoloc-enabled" style="display:inline-block;"><span class="icon icon-geo" style="color:#CCCCCC"></span></div>
              <input type="text" id="geo_search" style="background:none; border:none;" placeholder="{% trans %}location{% endtrans %} ?" onblur="checkLocation();"/><input type="submit" style="display:none" onclick="return js_geo_search();"/></div><div class="geo-go"><a href="#" onClick="return js_geo_search();">GO!</a></div>
              </div> 
            </form>
            <div id="autogeo" style="display:none;"></div>

          </div>
                    
                  
        </div>







    <div class="grid4">
      <div id="block-search" class="block">
        <div id="twitter_result" style="position:relative;" class="block-content all-the-rest">
        </div>
      </div>
     </div> 
     </div> 
 

<div id="twittosDroppable" style="height: 90%; overflow:auto; width:24%; margin-left: 1%; float:left; background-color:#fff;">
      <div class="all-the-rest" style="position:relative;">
        <div id="twittos">
          {% for twitto in twittos %}
            <div class="content-box">
              <a href="http://twitter.com/{{ twitto.user.twitterUsername }}" title="{{ twitto.user.twitterRealname }}
{{ twitto.user.twitterDescription }}
{{ twitto.user.twitterLocation }}"><img src="{{ twitto.user.profileImageUrl }}" width="48" height="48" class="twitter-img"></a>
              <a href="http://twitter.com/{{ twitto.user.twitterUsername }}" title="{{ twitto.user.twitterRealname }}
{{ twitto.user.twitterDescription }}
{{ twitto.user.twitterLocation }}"  onclick="return searchFrom('{{ twitto.user.twitterUsername }}');">{{ twitto.user.twitterRealname }}</a>
              <span class="tweet_name">@{{ twitto.user.twitterUsername }}</span>
              <div class="description">
                <div id="p_tw_{{ twitto.id }}">
                  {{ twitto.description }}
                </div>
                <div id="edit_tw_{{ twitto.id }}" style="display:none;">
                  <form>
                    <textarea id="txta_{{ twitto.id }}" rows="4" style="width:96%;">
                      {{ twitto.description }}
                    </textarea>
                    <input type="submit" value="{% trans %}Save{% endtrans %}" onclick="return js_save_twittos_desc({{ twitto.id }});"/>
                  </form>
                </div>
              </div>
              <table width="55" align="right"  class="glyphs character-mapping">
                <tr class="icons" >
                  <td >
                    <a href="">
                      <div class="icon icon-comment" onclick="$('#p_tw_{{ twitto.id }}').slideToggle();$('#edit_tw_{{ twitto.id }}').slideToggle();return false;"></div>
                    </a>
                  </td>
                  <td>
                    <a href="">
                      <div class="icon icon-trashing" onclick="return js_rm_twittos({{twitto.id}},$(this).parent().parent().parent().parent().parent().parent(),'{{ twitto.user.twitterID }}');"></div>
                    </a>
                  </td>
                </tr>
              </table>
            </div>
            <script type="text/javascript">twittos.push('{{ twitto.user.twitterID }}');</script>
          {% endfor %}
        </div>
      </div>
      </div>

<div style="height: 90%; overflow:auto; border:#ccc 1px solid; width:24%; margin-left: 1%; float:left; background-color:#fff;"> 
      <div id="block-keyword" class="all-the-rest block" style="position:relative;">
        <div id="keywords" style="overflow-y:auto;" class="block-content">
          {% for keyword in keywords %}
            <div class="content-box">
              {{ keyword.keyword }}
              <table  align="right"  class="glyphs character-mapping">
                <tr class="icons" >
                  <td><a href=""><div class="icon icon-trashing" onclick="return js_rm_keyword({{ keyword.id }},$(this).parent().parent().parent().parent().parent().parent(),'{{ keyword.keyword }}');"></div></a>
                  </td>
                </tr>
              </table>
            </div>
            <script type="text/javascript">keywords.push('{{ keyword.keyword }}');</script>
          {% endfor %}
        </div>
      </div>
      </div>


<div id="tweetDroppable" style="height: 90%; overflow:auto; width:24%;  margin-left: 1%; float:left; ">
      <div id="tweet_column2" class="all-the-rest block last" style="position:relative; ">
        <div id="tweet_list2" class="block-content" style="overflow-y:auto;overflow-x:hidden;">
          {% for tweet in tweets %}
            {% include 'CosaInstantTimelineBundle:Instant:tweet_bdd.html.twig' with {'tweet': tweet, 'draggable': false, 'editable': true, 'icons': false} %}
            <script type="text/javascript">tweets.push('{{ tweet.twitterID }}');</script>
          {% endfor %}
          {% if tweets|length == nb %}
            <div class="more_tweets" style=" background:#f8d0c6; font-weight:500; color:#fff; line-height:20px;text-align:center; cursor:pointer;" onclick="moreTweets({{ entity.id }},{{ off + nb }},{{ nb }});">{% trans %}More tweets{% endtrans %}</div>
          {% endif %}
        </div>
     </div>
      </div>
        <div style="height:25px; width:24%; margin-left: 1%; float:left; ">
          <a href="#" onclick="document.location.href='{{ path('instant_list', { 'username':user.twitterUsername } ) }}';"><div class="button05"><span class="icon icon-start"> </span>back</div></a>
          <a href="#" onclick="return confirm('This will erase every tweet, tweetos and keyword.\n\nAre you sure?')"><div class="button01"><span class="icon icon-close"> </span>clear</div></a>
        </div>
         <div style="height:25px; width:24%; margin-left: 1%; float:left; ">
        <a href="" >
          <div class="button02" onclick="$(this).hide();$('#addtw').fadeIn();$('#twittos_username').focus();return false;">
            <span class="icon icon-plus"></span>
            &nbsp;&nbsp;add an expert by name
          </div>
        </a>
          <form id="addtw" style="display:none;">
            <input type="text" id="twittos_username" placeholder="{% trans %}add a twittos{% endtrans %}" />
            <input type="submit" value="{% trans %}ADD{% endtrans %}" onClick="return js_add_twittos();" />
            <div id="autotwittos"></div>
          </form>
        </div>
         <div style="height:25px; width:24%; margin-left: 1%; float:left; ">
         <a href="" >
        <div class="button02" onclick="$(this).hide();$('#addkw').fadeIn();$('#keyword').focus();return false;">
          <span class="icon icon-plus"></span>
          &nbsp;&nbsp;add a keyword
        </div>
      </a>
          <form id="addkw" style="display:none;">
            <input type="text" id="keyword" placeholder="{% trans %}add a keyword{% endtrans %}" />
            <input type="submit" value="{% trans %}ADD{% endtrans %}" onClick="return js_add_keyword();" />
          </form>
        </div>
         <div style="height:25px; width:24%; margin-left: 1%; float:left; ">
        <div style="display:inline-block; width:100%;">
                <a href="#" >
                <div class="button03" onclick="return js_save();"><span class="icon icon-saving"></span>&nbsp;&nbsp;save
                </div>
                </a>
                <a href="#" >
                <div class="button03" onclick="window.open('{{ path('instant_preview', { 'instant_id': entity.id }) }}','_newtab');"><span class="icon icon-previewing"></span>&nbsp;&nbsp;preview
                </div>
                </a>
                <a href="#" >
                <div class="button04" onclick="if(!controles){showPopups();return false;}else{document.location.href='{{ path('instant_update', { 'instant_id': entity.id }) }}';}"><span class="icon icon-publish"></span>&nbsp;&nbsp;{% trans %}Publish{% endtrans %}
                </div>
                </a></div>
        </div>

<div style="clear:both;"></div>
      <span class="clearb"></span>
    </div>
    <button id="cancel" onclick="document.location.href='{{ path('instant_list', { 'username':user.twitterUsername } ) }}';">{% trans %}Cancel{% endtrans %}</button>
    <form action="{{ path('instant_clear', { 'instant_id': entity.id } ) }}" style="display: inline;">
        <input type="submit" value="{% trans %}Clear{% endtrans %}" onclick="return confirm('This will erase every tweet, tweetos and keyword.\n\nAre you sure?')" />
    </form>
  </div>

{% include "::footer_relative.html.twig" %}

{% endblock %}

{% block javascripts %}
  <script src="{{  asset('js/jquery-ui.js') }}"></script>
  <script type="text/javascript">
    $('.tweetmedia').each(function(){$(this).css('maxHeight',$(this).css('width'));});
    {% if twittos_to_alert %}
      var controles = false;
    {% else %}
      var controles = true;
    {% endif %}
    function checkLocation()
    {
      if($('#geo_search').val()!=$('#geo_search_registered').val()){
        $('#geo_lat').val('');
        $('#geo_lon').val('');
        $('#geoloc-enabled').html('<span class="icon icon-geo" style="color:#CCCCCC"></span>');
      }
    }
    var lastT = '0';
    function upLastT()
    {
      if($('.tweet_id.hidden.bdd:first')){
        lastT = $('.tweet_id.hidden.bdd:first').html();
      }else{
        lastT = '0';
      }
    }
    function getNbNewTweets()
    {
      upLastT();
      $.ajax({
        type: "POST",
        url: "{{path('instant_nb_new_tweets',{instant_id:entity.id})}}",
        data: {
          'last': lastT,
        }
      })
      .done(function( retour ) {
        $('#nbnewtweets').remove();
        if(retour['retour']){
          if(retour['nb']!='0'){
            $('#tweet_list2').prepend('<div id="nbnewtweets" onclick="refreshTimeline();" title="click to refresh">'+retour['nb']+' new Tweets !</div>');
          }
        }else{
          //alert('{% trans %}Problem occured{% endtrans %}');
        }
      });
    }
    setInterval(function() {
      getNbNewTweets();
    }, 10000);
    function showPopups(){
        $('#fade').fadeIn();
        $('#popup_alert').fadeIn();
    }
    function postTwittosMsg(){
      $.ajax({
        type: "POST",
        url: "{{path('alert_twittos_tmp',{id:entity.id})}}",
        data: {
          'form[messageType]': $('#form_messageType').val(),
          'form[_token]': $('#form__token').val()
        }
      })
      .done(function( retour ) {
        if(retour['retour']){
          $('#popup_alert').fadeOut();
          $('#fade').fadeOut();
          controles = true;
          $('#publish').click();
        }else{
          alert('{% trans %}Problem occured{% endtrans %}');
        }
      });
    }
    function moreTweets(id,off,nb)
    {
      $('.more_tweets').hide();
      $.ajax({
        type: "POST",
        url: "{{path('instant_more_tweets',{instant_id:entity.id})}}",
        data: {
          'off': off,
          'nb': nb,
          'from': 'edit',
        }
      })
      .done(function( retour ) {
        $('#tweet_list2').append(retour);
      });
    }
    function js_geo_search()
    {
      if ($('#geo_search').val() === '')
        return false;
      $('#autogeo').html('<img src="{{ asset('images/ajax-loader.gif') }}" alt="loading..."/>');
      $('#autogeo').fadeIn();
      $.ajax({
        type: "POST",
        url: "{{path('instant_geo_search')}}",
        data: {
          'q': encodeURIComponent($('#geo_search').val())
        }
      })
      .done(function( retour ) {
        $('#autogeo').html('');
        if(retour.retour){
          var places = new Array();
          $.each(retour.datas.result.places , function(key,place) {
            if ($.inArray(place.full_name+' ('+place.country+')', places) < 0) {
              places.push(place.full_name+' ('+place.country+')');
              var lat = 0;
              var lon = 0;
              for(var i=0;i<4;i++){
                lon += place.bounding_box.coordinates[0][i][0];
                lat += place.bounding_box.coordinates[0][i][1];
              }
              lat /= 4;
              lon /= 4;
              full_name_escaped = place.full_name.replace("'", "\\'");
              country_escaped = place.country.replace("'", "\\'");
              geoenabled = '$(\'#geoloc-enabled\').html(\'<span class=\\\'icon icon-geo\\\' style=\\\'color:green\\\'></span>\');';
              geosearchval = '$(\'#geo_search\').val(\'+place.full_name+\' (\'+place.country+\');';
              var elt = $('<div class="geoplace content-box-geo" onclick="$(\'#geo_lat\').val('+lat+');$(\'#geo_lon\').val('+lon+');$(\'#autogeo\').hide();$(\'#geoloc\').slideToggle();'+geoenabled+'$(\'#geo_search\').val(\''+full_name_escaped+' ('+country_escaped+')\');$(\'#geo_search_registered\').val(\''+full_name_escaped+' ('+country_escaped+')\');">'+place.full_name+' ('+place.country+')</div>');
              $('#autogeo').append(elt);
            }
          });
        }else{
          alert(retour.msg);
        }
      });
      return false;
    }
    function js_twitter_search(addkeyword) {
      $('#geoloc').hide();
      $('#twitter_result').html('<img src="{{ asset('images/ajax-loader.gif') }}" alt="loading..."/>');
      if(!in_array($('#twitter_search').val(),searches)){
        var nbCellToDrop = searches.length-search_ind-1;
        for(var i=0;i<nbCellToDrop;i++){
          searches.pop();
        }
        searches.push($('#twitter_search').val());
        search_ind = searches.length-1;
      }else{
        for(var i in searches) {
          if(searches[i] == $('#twitter_search').val())
            search_ind = parseInt(i);
        }
      }
      upS();
      $.ajax({
        type: "POST",
        url: "{{path('instant_twitter_search')}}",
        data: {
          'q': encodeURIComponent($('#twitter_search').val()),
          'lat':$('#geo_lat').val(),
          'lon':$('#geo_lon').val(),
          'radius':$('#geo_radius').val(),
          'lang':$('#Languages').val(),
          'result_type':$('input[name="result_type"]:checked').val()
        }
      })
      .fail(function() {
      $('#twitter_result').html('');
      })
      .done(function( retour ) {
        $('#twitter_result').html(retour).load(function(){
          $('.tweetmediajson').each(function(){$(this).css('maxHeight',$(this).css('width'));});
        });
        if(addkeyword){
          add_keyword($('#twitter_search').val());
        }
        $( ".twitter_result_item" ).draggable({
          revert: true,
          appendTo: 'body',
          containment: 'window',
          scroll: false,
          helper: function(event) {
                return $(event.target).closest(".ui-draggable").clone().css({
                    width: $(event.target).closest(".ui-draggable").width()
                });},
          cursor: 'move',
          start: function(event, ui) {
            ui.position.top -= $(window).scrollTop();
          },
          drag: function(event, ui) {
            ui.position.top -= $(window).scrollTop();
          }
        });
      });
      return false;
    }
    function js_twitter_search2(req) {
      $('#geoloc').hide();
      $('.more_tweets_search').hide();
      $('#tweet_list').append('<div class="ajax-loader"><img src="{{ asset('images/ajax-loader.gif') }}" alt="loading..."/></div>');
      $.ajax({
        type: "POST",
        url: "{{path('instant_twitter_search2')}}",
        data: {
          'req': req
        }
      })
      .fail(function() {
      $('#twitter_result').html('');
      })
      .done(function( retour ) {
        $('#tweet_list').append(retour).load(function(){
          $('.tweetmediajson').each(function(){$(this).css('maxHeight',$(this).css('width'));});
        });
        $( ".twitter_result_item" ).draggable({
          revert: true,
          appendTo: 'body',
          containment: 'window',
          scroll: false,
          helper: function(event) {
                return $(event.target).closest(".ui-draggable").clone().css({
                    width: $(event.target).closest(".ui-draggable").width()
                });},
          cursor: 'move',
          start: function(event, ui) {
            ui.position.top -= $(window).scrollTop();
          },
          drag: function(event, ui) {
            ui.position.top -= $(window).scrollTop();
          }
        });
        $('.ajax-loader').hide();
      });
      return false;
    }
    function js_rm_keyword(keyword_id,elt,keyword)
    {
      if(!confirm('Sure ?'))
        return false;
      $.ajax({
        type: "GET",
        url: "{{path('instant_rm_keyword',{keyword_id:0})}}"+keyword_id,
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">{% trans %}Keyword removed{% endtrans %} !</div>');
          $(elt).remove();
          rm_from_array(keyword,keywords);
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.msg+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
    function in_array(needle, haystack) {
      for(var i in haystack) {
        if(haystack[i] == needle)
          return true;
      }
      return false;
    }
    function rm_from_array(needle, haystack) {
      var i = haystack.indexOf(needle);
      if(i != -1) {
        haystack.splice(i, 1);
      }
    }
    function js_add_keyword() {
      res = add_keyword($('#keyword').val());
      $('#keyword').val('');
      return res;
    }
    function add_keyword(keyword)
    {
      keyword = keyword.trim();
      keyw = keyword.split(' ');
      $.each(keyw, function(key,keywo) {
        var keywor = keywo.toLowerCase();
        if((keywor != '') && !(in_array(keywor, keywords))) {
          c_keywor = keywor.replace(/'/g,"\\'");
          $.ajax({
            type: "POST",
            url: "{{path('instant_add_keyword',{instant_id:entity.id})}}",
            data: {
              'keyword': keywor,
            }
          })
          .done(function( retour ) {
            if(retour.retour){
              var msg = $('<div class="flash-message flash-notice">{% trans %}Keyword saved{% endtrans %} !</div>');
              $('#keywords').prepend($('<div class="content-box">'+keywor+'<table align="right" class="glyphs character-mapping"><tr class="icons" ><td><a href=""><div class="icon icon-trashing" onclick="return js_rm_keyword('+retour.id+',$(this).parent().parent().parent().parent().parent().parent(),\''+c_keywor+'\');"></div></a></td></tr></table></div>'));
              keywords.push(keywor);
            }else{
              var msg = $('<div class="flash-message flash-error">'+retour.msg+'</div>');
            }
            $('#flash-messages').append(msg);
            msg.delay(3000).fadeOut(1000);
          });
        }
      });
      return false;
    }
    function js_save()
    {
        var msg = $('<div class="flash-message flash-notice">Instant saved !</div>');
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
    }
    function js_add_twittos() {
      return add_twittos2($('#twittos_username').val());
    }
    function js_rm_twittos(twittos_id,elt,twitter_id)
    {
      if(!confirm('Sure ?'))
        return false;
      $.ajax({
        type: "GET",
        url: "{{path('instant_rm_twittos',{twittos_id:0})}}"+twittos_id,
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">{% trans %}Twittos removed{% endtrans %} !</div>');
          $(elt).remove();
          rm_from_array(twitter_id, twittos);
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.msg+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
    function add_twittos2(username)
    {
      $('#autotwittos').hide();
      $('#autotwittos').html('');
      $.ajax({
        type: "POST",
        url: "{{path('instant_add_twittos2',{instant_id:entity.id})}}",
        data: {
          'twittos_username': username
        }
      })
      .done(function( retour ) {
        if(retour.retour){
          if(retour.users){
            $.each(retour.users, function(key, user) {
              c_screen_name = user.screen_name.replace(/'/g,"\\'");
              c_name = user.name.replace(/'/g,"\\'");
              c_description = user.description.replace(/'/g,"\\'").replace(/[\n\r]/g, '');
              c_location = user.location.replace(/'/g,"\\'").replace(/[\n\r]/g, '');
              $('#autotwittos').append('<div class="twittos" onclick="cr_twittos(\''+c_screen_name+'\',\''+c_name+'\',\''+user.profile_image_url+'\',\''+user.id_str+'\',\''+c_description+'\',\''+c_location+'\');"><img src="'+user.profile_image_url+'"/><div><span class="username">'+user.screen_name+'</span><span class="name">'+user.name+'</span><br/><span class="description">'+user.description+'</span><span style="display:none;">'+user.id_str+'</span><br/><span class="location">'+user.location+'</span></div><div style="clear:both;"></div></div>');
            });
            $('#autotwittos').fadeIn();
            return false;
          }else{
            if(in_array(retour.twitterID, twittos))
              return false;
            var msg = $('<div class="flash-message flash-notice">{% trans %}Twittos saved{% endtrans %} !</div>');
            var elt = $('<div class="content-box"><a href="http://twitter.com/'+retour.username+'" title="'+retour.name+"\r\n"+retour.description+"\r\n"+retour.location+'"><img src="'+retour.profile_image_url+'" width="48" height="48" class="twitter-img"></a><a href="http://twitter.com/'+retour.username+'" title="'+retour.name+"\r\n"+retour.description+"\r\n"+retour.location+'" onclick="return searchFrom(\''+retour.username+'\');">'+retour.username+'</a><span class="tweet_name">@'+retour.username+'</span><div class="description"><div id="p_tw_'+retour.id+'">'+retour.description+'</div><div id="edit_tw_'+retour.id+'" style="display:none;"><form><textarea id="txta_'+retour.id+'" rows="4" style="width:96%;">'+retour.description+'</textarea><input type="submit" value="{% trans %}Save{% endtrans %}" onclick="return js_save_twittos_desc('+retour.id+');"/></form></div></div><table width="55" align="right"  class="glyphs character-mapping"><tr class="icons" ><td ><a href=""><div class="icon icon-comment" onclick="$(\'#p_tw_'+retour.id+'\').slideToggle();$(\'#edit_tw_'+retour.id+'\').slideToggle();return false;"></div></a></td><td><a href=""><div class="icon icon-trashing" onclick="return js_rm_twittos('+retour.id+',$(this).parent().parent().parent().parent().parent().parent(),\''+retour.twitterID+'\');"></div></a></td></tr></table></div>');
            $('#twittos').prepend(elt);
            twittos.push(retour.twitterID);
            controles = false;
          }
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.msg+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
    function cr_twittos(screen_name,name,profile_image_url,id_str,desc,loc)
    {
      $('#autotwittos').hide();
      var elt = $('<div class="content-box"><a href="http://twitter.com/'+screen_name+'" title="'+name+"\r\n"+desc+"\r\n"+loc+'"><img src="'+profile_image_url+'" width="48" height="48" class="twitter-img"></a><a href="http://twitter.com/'+screen_name+'" title="'+name+"\r\n"+desc+"\r\n"+loc+'" onclick="return searchFrom(\''+screen_name+'\');">'+name+'</a><span class="tweet_name">@'+screen_name+'</span></div>');
      $('#twittos').prepend(elt);
      add_twittos(id_str,screen_name,name,profile_image_url,desc,loc,elt);
    }
    function add_twittos(twitterID,username,name,profile_image_url,desc,loc,elt)
    {
      if(in_array(twitterID, twittos)){
        $(elt).remove();
        return false;
      }
      $.ajax({
        type: "POST",
        url: "{{path('instant_add_twittos',{instant_id:entity.id})}}",
        data: {
          'twittos_id': twitterID,
          'twittos_username': username,
          'twittos_realname': name,
          'twittos_profile_image_url': profile_image_url,
          'twittos_description': desc,
          'twittos_location': loc,
        }
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">{% trans %}Twittos saved{% endtrans %} !</div>');
          $(elt).append('<div class="description"><div id="p_tw_'+retour.id+'"></div><div id="edit_tw_'+retour.id+'" style="display:none;"><form><textarea id="txta_'+retour.id+'" rows="4" style="width:96%;"></textarea><input type="submit" value="__Save" onclick="return js_save_twittos_desc('+retour.id+');"/></form></div></div><table width="55" align="right"  class="glyphs character-mapping"><tr class="icons" ><td ><a href=""><div class="icon icon-comment" onclick="$(\'#p_tw_'+retour.id+'\').slideToggle();$(\'#edit_tw_'+retour.id+'\').slideToggle();return false;"></div></a></td><td><a href=""><div class="icon icon-trashing" onclick="return js_rm_twittos('+retour.id+',$(this).parent().parent().parent().parent().parent().parent(),\''+twitterID+'\');"></div></a></td></tr></table>');
          twittos.push(twitterID);
          controles = false;
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.retour+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
    $( "#twittosDroppable" ).droppable({
      activeClass: "ui-state-default",
      hoverClass: "ui-state-hover",
      drop: function( event, ui ) {
        var twitto = $('<div>');
        twitto.addClass('content-box');
        $('.tweet_user_data',ui.draggable).clone().appendTo(twitto);
        twitto.prependTo($(this));
        add_twittos(
          $('.twitterID',ui.draggable).val(),
          $('.twitter_username',ui.draggable).val(),
          $('.twitter_realname',ui.draggable).val(),
          $('.twitter_profile_image_url',ui.draggable).val(),
          $('.twitter_description',ui.draggable).val(),
          $('.twitter_userlocation',ui.draggable).val(),
          twitto
        );
      }
    });
    $( "#tweetDroppable" ).droppable({
      activeClass: "ui-state-default",
      hoverClass: "ui-state-hover",
      drop: function( event, ui ) {
        //var tweet = $('.tweet',ui.draggable).clone();
        //tweet.appendTo($('#tweet_list2'));
        add_tweet(
          $('.twitter_id_str',ui.draggable).val(),
          $('.twitter_text',ui.draggable).val(),
          $('.twitter_realname',ui.draggable).val(),
          $('.twitter_username',ui.draggable).val(),
          $('.twitter_description',ui.draggable).val(),
          $('.twitter_userlocation',ui.draggable).val(),
          $('.twitterID',ui.draggable).val(),
          $('.twitter_profile_image_url',ui.draggable).val(),
          $('.twitter_location',ui.draggable).val(),
          $('.twitter_media_url',ui.draggable).val(),
          $('.twitter_created_at',ui.draggable).val()//,
          //tweet
        );
      }
    });
    function js_add_tweet() {
      add_tweet($('#tweet_twitter_id').val(),$('#tweet_text').val(),$('#tweet_name').val(),$('#tweet_screen_name').val(),$('#tweet_user_id').val(),$('#tweet_profile_image_url').val(),$('#tweet_location').val(),$('#tweet_media_url').val(),$('#tweet_created_at').val());
    }
    function add_tweet(twitter_id,text,name,screen_name,desc,userloc,user_id,profile_image_url,location,media_url,created_at)//,elt)
    {
      if(in_array(twitter_id, tweets)){
        //$(elt).remove();
        return false;
      }
      $.ajax({
        type: "POST",
        url: "{{path('instant_add_tweet',{instant_id:entity.id})}}",
        data: {
          'twitter_id': twitter_id,
          'text': text,
          'name': name,
          'screen_name': screen_name,
          'description': desc,
          'userlocation': userloc,
          'user_id': user_id,
          'profile_image_url': profile_image_url,
          'location': location,
          'media_url': media_url,
          'created_at': created_at
        }
      })
      .done(function( retour ) {
        if(retour.retour){
          //var msg = $('<div class="flash-message flash-notice">Timeline saved !</div>');
          //$(elt).prepend('<button style="float:right;color:red;font-weight:bold;" title="Remove" onclick="return js_rm_tweet('+retour.id+',$(this).parent(),\''+twitter_id+'\');">X</button>');
          tweets.push(twitter_id);
          refreshTimeline();
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.retour+'</div>');
        //}
          $('#flash-messages').append(msg);
          msg.delay(3000).fadeOut(1000);
        }
      });
      return false;
    }
    function js_save_twittos_desc(twitto_id)
    {
      $.ajax({
        type: "POST",
        url: "{{path('instant_up_twittos',{twittos_id:0})}}"+twitto_id,
        data: {
          'description': $('#txta_'+twitto_id).val()
        }
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">{% trans %}Comment saved{% endtrans %} !</div>');
          $('#p_tw_'+twitto_id).html($('#txta_'+twitto_id).val());
          $('#p_tw_'+twitto_id).slideToggle();
          $('#edit_tw_'+twitto_id).slideToggle();
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.retour+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
    function js_rm_tweet(tweet_id,elt,twitter_id)
    {
      if(!confirm('Sure ?'))
        return false;
      $.ajax({
        type: "GET",
        url: "{{path('instant_rm_tweet',{instant_id:entity.id,tweet_id:0})}}"+tweet_id,
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">{% trans %}Tweet removed{% endtrans %} !</div>');
          $(elt).remove();
          rm_from_array(twitter_id, tweets);
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.msg+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
    function js_cr_instant()
    {
      $.ajax({
        type: "POST",
        url: "{{path('instant_cr',{instant_id:entity.id})}}",
        data: {
          'title': $('#title').val(),
          'description': $('#description').val()
        }
      })
      .done(function( retour ) {
        if(retour.retour){
          var msg = $('<div class="flash-message flash-notice">{% trans %}Instant saved{% endtrans %} !</div>');
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.retour+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
    function refreshTimeline()
    {
      $.ajax({
        type: "POST",
        url: "{{path('instant_refresh_timeline',{instant_id:entity.id})}}",
        data: {
          'from': 'edit',
        }
      })
      .done(function( retour ) {
        if(retour.retour){
          $('#tweet_list2').html(retour.html);
          var msg = $('<div class="flash-message flash-notice">{% trans %}Timeline refreshed{% endtrans %} !</div>');
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.retour+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
    function searchWord(word)
    {
      $('#twitter_search').val(word);
      return js_twitter_search(false);
    }
    function searchFrom(username)
    {
      $('#twitter_search').val('from:'+username);
      return js_twitter_search(false);
    }
    function lastSearch()
    {
      if(search_ind===false)
        return false;
      if(search_ind>0){
        search_ind-=1;
        $('#twitter_search').val(searches[search_ind]);
        return js_twitter_search(false);
      }
    }
    function nextSearch()
    {
      if(search_ind===false)
        return false;
      if(search_ind<(searches.length-1)){
        search_ind+=1;
        $('#twitter_search').val(searches[search_ind]);
        return js_twitter_search(false);
      }
    }
    function upS()
    {
      if(search_ind===false)
        return false;
      if(search_ind>0){
        $('#lastS').attr('title',searches[search_ind-1]);
      }else{
        $('#lastS').attr('title','');
      }
      if(search_ind<(searches.length-1)){
        $('#nextS').attr('title',searches[search_ind+1]);
      }else{
        $('#nextS').attr('title','');
      }
    }
  </script>
{% endblock %}
