{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Instant list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Finish_at</th>
                <th>Status</th>
                <th>Nb_views</th>
                <th>Last_view</th>
                <th>Lang</th>
                <th>Message_type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('instant_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedat %}{{ entity.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.finishat %}{{ entity.finishat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.nbviews }}</td>
                <td>{% if entity.lastview %}{{ entity.lastview|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.lang }}</td>
                <td>{{ entity.messagetype }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('instant_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('instant_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    <li>
                        <form action="{{ path('instant_delete', { 'id': entity.id }) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE" />
                            {{ form_widget(deleteForms[entity.id]) }}
                            <button type="submit" onclik="return confirm('Are you sure ?');">Delete</button>
                        </form>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('instant_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
