{% extends '::base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
{% endblock %}


{% block body -%}
    <h1>Instant</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ entity.updatedat|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Finish_at</th>
                <td>{{ entity.finishat|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Nb_views</th>
                <td>{{ entity.nbviews }}</td>
            </tr>
            <tr>
                <th>Last_view</th>
                <td>{{ entity.lastview|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Lang</th>
                <td>{{ entity.lang }}</td>
            </tr>
            <tr>
                <th>Message_type</th>
                <td>{{ entity.messagetype }}</td>
            </tr>
        </tbody>
    </table>
<div id="tweet_column">
<div id="tweet_list"> 
    {% for tweet in tweets %}
<div class="tweet">
  <div class="tweet_id hidden">{{ tweet.twitterId }}</div>
  <div class="tweet_image">
    <a href="http://twitter.com/{{ tweet.screenName }}" 
    title="{{ tweet.name }}">
    <img src="{{ tweet.profileImageUrl }}" width="48" height="48"></a>    
  </div>
  <div class="tweet_right">
    <div class="tweet_screen_name">
      <a href="http://twitter.com/{{ tweet.screenName }}" 
        title="{{ tweet.name }}">{{ tweet.screenName }}</a>
      <span class="tweet_name">{{ tweet.name }}</span>
    </div>
    <div class="tweet_text">{{ tweet.text }}
      <div class="tweet_date">
        <a href="http://twitter.com/{{ tweet.screenName }}/status/{{ tweet.twitterId }}" 
          title="our id = {{ tweet.id }}">{{ tweet.createdAt|date("m/d/Y H:i:s", "Europe/Paris") }}</a>
      </div>
    </div>
  </div>
</div><hr>
    {% endfor %}
  </div>
  </div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('instant') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('instant_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('instant_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
