{% if draggable %}<div class="twitter_result_item ui-widget-content">{% endif %}
  <div class="content-box">
      {% if tweet.isRt %}
        <div class="retweet">{% trans %}Retweeted by{% endtrans %} {{ tweet.rtByTwitterRealname }}</div>
      {% endif %}
      <div class="tweet_id hidden bdd">{{ tweet.twitterId }}</div>
      <div>
        <a href="http://twitter.com/{{ tweet.screenName }}" target="_blank" title="{{ tweet.userDescription }}
{{ tweet.userLocation }}"><img src="{{ tweet.profileImageUrl }}" width="48" height="48" class="twitter-img"></a>
          <a href="http://twitter.com/{{ tweet.screenName }}" title="{{ tweet.userDescription }}
{{ tweet.userLocation }}" onclick="return searchFrom('{{ tweet.screenName }}');">{{ tweet.name }}</a>
          <span class="tweet_name">@{{ tweet.screenName }}</span>
        <div class="tweet_text">{{ tweet.text | customlink | raw }}
          <div class="tweet_date">
            <a href="http://twitter.com/{{ tweet.screenName }}/status/{{ tweet.twitterId }}" >{{ tweet.createdAt|datedelta }}</a>
          </div>
        </div>
        {% if tweet.mediaUrl!='' %}
          <div class="tweet_media">
            <a href="{{ tweet.mediaUrl }}"  data-lightbox="{{ tweet.id }}"><img class="tweetmedia" src="{{ tweet.mediaUrl }}" style="max-width:50%;height:auto;width:auto;"/></a>
          </div>
        {% endif %}
      </div>
      {% if editable %} 
      <table  align="right"  class="glyphs character-mapping">
        <tr class="icons" >
          <td>
            <a href=""><div class="icon icon-trashing" onclick="return js_rm_tweet({{ tweet.id }},$(this).parent().parent().parent().parent().parent().parent(),'{{ tweet.twitterId }}');"></div></a>
          </td>
        </tr>
      </table>
      {% endif %}
      {% if icons %}
<div style="clear: both;"></div>
                       <div class="tweet_icons">
                       <a href="https://twitter.com/intent/tweet?in_reply_to={{ tweet.twitterId }}"><span class="icon icon-tweet-reply"></span></a>
                       <a href="https://twitter.com/intent/retweet?tweet_id={{ tweet.twitterId }}"><span class="icon icon-tweet-retweet"></span></a>
                       <a href="https://twitter.com/intent/favorite?tweet_id={{ tweet.twitterId }}"><span class="icon icon-tweet-fav"></span></a>
                       <a href="https://twitter.com/intent/user?user_id={{ tweet.userId }}"><span class="icon icon-tweet-add"></span></a>
                       </div>
      {% endif %}
  </div>
{% if draggable %}</div>{% endif %}
