{% if draggable %}<div class="twitter_result_item ui-widget-content">{% endif %}
  <div class="tweet">
    <button style="float:right;color:red;font-weight:bold;" title="Remove" onclick="return js_rm_tweet({{ tweet.id }},$(this).parent(),'{{ tweet.twitterId }}');">X</button>
    <div class="tweet_content">
      <div class="tweet_id hidden">{{ tweet.twitterId }}</div>
      <div class="tweet_image">
        <a href="http://twitter.com/{{ tweet.screenName }}" title="{{ tweet.name }}"><img src="{{ tweet.profileImageUrl }}" width="48" height="48"></a>
      </div>
      <div class="tweet_right">
        <div class="tweet_screen_name">
          <a href="http://twitter.com/{{ tweet.screenName }}" title="{{ tweet.name }}">{{ tweet.screenName }}</a>
          <span class="tweet_name">{{ tweet.name }}</span>
        </div>
        <div class="tweet_text">{{ tweet.text }}
          <div class="tweet_date">
            <a href="http://twitter.com/{{ tweet.screenName }}/status/{{ tweet.twitterId }}" >{{ tweet.createdAt|date("m/d/Y H:i:s") }}</a>
          </div>
        </div>
        {% if tweet.mediaUrl!='' %}
          <div class="tweet_media">
            <a href="{{ tweet.mediaUrl }}" target="_blank"><img src="{{ tweet.mediaUrl }}" width="100%" height="auto"/></a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% if draggable %}</div>{% endif %}
