{% extends '::webview.html.twig' %}

{% block body -%}
<div id="mobile-menu" style="display:none;">
</div>
{% if webview %} 
 <div style="height:95px; width:100%; margin-left: 0;margin-right: 0; float:left; position:fixed; top:0;">
{% else %}
 <div style="height:95px; width:50%; margin: auto; float:left; position:fixed; top:0;">
{% endif %}
    <div  class="col-title-pre-full">
      <div class="pre-iphone-header-full" style="">{{ instant.title }}
        <div class="pre-iphone-menu-full" style="">
          <input id="menu-value" type="hidden" value="hidden">
          <a href="#" onclick="if ($('#menu-value').val() == 'hidden') {$('#mobile-menu').show('slide',{direction:'left'},1000); $('#menu-value').val('shown');} else {$('#mobile-menu').hide('slide',{direction:'left'},1000); $('#menu-value').val('hidden');}"><img src="{{ asset('images/pre-menu.png') }}"  alt=""/></a> 
        </div>
        <div class="pre-iphone-logo-full" style=" ">
          <a href=""><img src="{{ asset('images/pre-logo.png') }}"  alt=""/></a>
        </div>
        <div style="clear:both;"></div>
      </div>
      <div class="pre-iphone-nav-full">
        <a><div class="pre-iphone-nav-tab1-full" onclick="$('#whotofollow_list').hide();$('#tweet_list2').show();$(this).css('background','white');$(this).css('color','#333333');$('.pre-iphone-nav-full2').css('background','#ea651d');$('.pre-iphone-nav-full2').css('color','white');" style="">
                         {% trans %}Timeline{% endtrans %}
                          </div></a>
        <a><div class="pre-iphone-nav-full2" onclick="$('#tweet_list2').hide();$('#whotofollow_list').show();$(this).css('background','white');$(this).css('color','#333333');$('.pre-iphone-nav-tab1-full').css('background','#ea651d');$('.pre-iphone-nav-tab1-full').css('color','white');">
                          {% trans %}Who to follow{% endtrans %}
                        </div></a>
        <div style="clear:both;"></div>
      </div>
    </div>
 </div>
 
    <div id="tweet_list2" class="block-content" style="overflow-y:auto;overflow-x:hidden;">
      {% include 'CosaInstantTimelineBundle:Instant:tweetList.html.twig' with {'tweets': tweets, 'draggable': false, 'editable': false, 'instant': instant, 'off': 0, 'nb': 100, 'icons': true} %}
    </div>

    <div id="whotofollow_list" style="display:none;overflow-y:auto;overflow-x:hidden; background: white;" class="block-content">
      {% for twitto in twittos %}
        <div class=  "content-box-pre-full">
          <a href="http://twitter.com/{{ twitto.user.twitterUsername }}" title="{{ twitto.user.twitterRealname }}">
            <img src="{{ twitto.user.profileImageUrl }}" width="48" height="48" class="twitter-img">
          </a>
          <a href="http://twitter.com/{{ twitto.user.twitterUsername }}">{{ twitto.user.twitterRealname }}</a><span class="tweet_name">@{{ twitto.user.twitterUsername }}</span>
          <div class="tweet_icons3">
            <a href="https://twitter.com/intent/user?user_id={{ twitto.user.twitterId }}"><span class="icon icon-tweet-add"></span></a>
          </div><br />
          {{ twitto.user.twitterDescription | customlink | raw }}
          <br />
          {{ twitto.description | customlink | raw }}
        </div>
      {% endfor %}
    </div>
{% endblock %}

{% block footer %}
  Instant by <a href="http://twitter.com/{{ instant.user.twitterUsername }}" target="_blank">{{ instant.user.twitterRealname }}</a> from ...<br/>
  Powered by Instant Team | <a href="#" target="_blank">{% trans %}Click here to Embed{% endtrans %}</a>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    $('.tweetmedia').each(function(){$(this).css('maxHeight',$(this).css('width'));});
    function searchFrom(username)
    {
      return true;
    }
    function getNbNewTweets()
    {
      $.ajax({
        type: "POST",
        url: "{{path('instant_nb_new_tweets',{instant_id:instant.id})}}",
        data: {
          {% if tweets|length > 0 %}
            'last': $('.tweet_id.hidden:first').html(),
          {% endif %}
        }
      })
      .done(function( retour ) {
        $('#nbnewtweets').remove();
        if(retour['retour']){
          if(retour['nb']!='0'){
            $('#tweet_list2').prepend('<div id="nbnewtweets" onclick="refreshTimeline();" title="click to refresh">'+retour['nb']+' new Tweets !</div>');
          }
        }else{
          //alert('{% trans %}Problem occured{% endtrans %}');
        }
      });
    }
    setInterval(function() {
      getNbNewTweets();
    }, 10000);
    function moreTweets(id,off,nb)
    {
      $('.more_tweets').hide();
      $.ajax({
        type: "POST",
        url: "{{path('instant_more_tweets',{instant_id:instant.id})}}",
        data: {
          'off': off,
          'nb': nb,
          'icons': 'true',
        }
      })
      .done(function( retour ) {
        $('#tweet_list2').append(retour);
      });
    }
    function refreshTimeline()
    {
      $.ajax({
        type: "POST",
        url: "{{path('instant_refresh_timeline',{instant_id:instant.id})}}",
        data: {
          'editable':false,
        }
      })
      .done(function( retour ) {
        if(retour.retour){
          $('#tweet_list2').html(retour.html);
          var msg = $('<div class="flash-message flash-notice">{% trans %}Timeline refreshed{% endtrans %} !</div>');
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.retour+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
  </script>
{% endblock %}
