{% extends '::webview.html.twig' %}

{% block body -%}
    <div id="title">
      {{ instant.title }}
      <div class="tabs" style="text-align:center;width:100%;">
        <div class="timeline" onclick="$('#whotofollow_list').hide();$('#tweet_list2').show();$(this).css('background','white');$(this).css('color','grey');$('.whotofollow').css('background','grey');$('.whotofollow').css('color','white');" style="width:50%;float:left;background:white;color:grey;">
          {% trans %}Timeline{% endtrans %}
        </div>
        <div class="whotofollow" onclick="$('#tweet_list2').hide();$('#whotofollow_list').show();$(this).css('background','white');$(this).css('color','grey');$('.timeline').css('background','grey');$('.timeline').css('color','white');" style="width:50%;float:left;color:white;background:grey;">
          {% trans %}Who to follow{% endtrans %}
        </div>
        <div class="clearb"></div>
      </div>
    </div>
    <div id="tweet_list2" class="block-content" style="overflow-y:auto;overflow-x:hidden;">
      {% include 'CosaInstantTimelineBundle:Instant:tweetList.html.twig' with {'tweets': tweets, 'draggable': false, 'editable': false, 'instant': instant, 'off': 0, 'nb': 100} %}
    </div>
    <div id="whotofollow_list" style="display:none;" class="block-content" style="overflow-y:auto;overflow-x:hidden;">
      {% for twitto in twittos %}
        <div class="twitto">
          <div class="tweet_image">
            <a href="http://twitter.com/{{ twitto.user.twitterUsername }}" title="{{ twitto.user.twitterRealname }}"><img src="{{ twitto.user.profileImageUrl }}" width="48" height="48"></a>
          </div>
          <div class="tweet_screen_name">
            <a href="http://twitter.com/{{ twitto.user.twitterUsername }}" title="{{ twitto.user.twitterRealname }}">{{ twitto.user.twitterUsername }}</a>
            <span class="tweet_name">{{ twitto.user.twitterRealname }}</span>
          </div>
          <div class="description">
            {% if twitto.description!='' %}{{ twitto.description }}{% else %}{{ twitto.user.twitterDescription }}{% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
{% endblock %}

{% block footer %}
  Instant by <a href="http://twitter.com/{{ instant.user.twitterUsername }}" target="_blank">{{ instant.user.twitterRealname }}</a> from ...<br/>
  Powered by Instant Team | <a href="#" target="_blank">{% trans %}Click here to Embed{% endtrans %}</a>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    function getNbNewTweets()
    {
      $.ajax({
        type: "POST",
        url: "{{path('instant_nb_new_tweets',{instant_id:instant.id})}}",
        data: {
          {% if tweets|length > 0 %}
            'last': '{{ tweets.0.twitterID }}',
          {% endif %}
        }
      })
      .done(function( retour ) {
        $('#nbnewtweets').remove();
        if(retour['retour']){
          if(retour['nb']!='0'){
            $('#tweet_list2').prepend('<div id="nbnewtweets" onclick="refreshTimeline();" title="click to refresh">'+retour['nb']+' new Tweets !</div>');
          }
        }else{
          //alert('{% trans %}Problem occured{% endtrans %}');
        }
      });
    }
    setInterval(function() {
      getNbNewTweets();
    }, 10000);
    function moreTweets(id,off,nb)
    {
      $('.more_tweets').hide();
      $.ajax({
        type: "POST",
        url: "{{path('instant_more_tweets',{instant_id:instant.id})}}",
        data: {
          'off': off,
          'nb': nb,
        }
      })
      .done(function( retour ) {
        $('#tweet_list2').append(retour);
      });
    }
    function refreshTimeline()
    {
      $.ajax({
        type: "POST",
        url: "{{path('instant_refresh_timeline',{instant_id:instant.id})}}",
        data: {
          'editable':false,
        }
      })
      .done(function( retour ) {
        if(retour.retour){
          $('#tweet_list2').html(retour.html);
          var msg = $('<div class="flash-message flash-notice">{% trans %}Timeline refreshed{% endtrans %} !</div>');
        }else{
          var msg = $('<div class="flash-message flash-error">'+retour.retour+'</div>');
        }
        $('#flash-messages').append(msg);
        msg.delay(3000).fadeOut(1000);
      });
      return false;
    }
  </script>
{% endblock %}
