{% extends '::base.html.twig' %}

{% block body -%}


{% if entities|length == 0 %}
  <div class="container">
    <div class="row">
      <div class="col-md-8" style="margin-top:50px;">
       
        <div class="home1-text">Create your first !nstant by selecting Twitter users, tweets and keywords relating to the event you're covering.<br />
          <span class="arrow-home1"><img src="{{ asset('images/home1-arrow.png') }}"  width="200"/></span>
        </div>
      </div>
   
      <div class="col-md-4" style="margin-top:50px;">
        <span class="addinstant-home1" onclick="document.location.href='{{ path('instant_new', {'username': user.twitterUsername}) }}';"><a href="#"><span class="icon icon-plus"></span> <br />create an !nstant</a> </span>
      </div>
    </div>
  </div>
{% else %}

  <div class="container">
      <div class="row">
        <div class="col-md-12" style="margin-top:50px;">
        
        {% if entities|length > 11 %}
        <div class="arrowup"><a href="#top"><img src="{{ asset('images/arrow.png') }}" /></a></div>
        {% endif %}
        
  {% if app.session.get('order')  == 'desc' %}
          <p class="title-upper-all"><span class="title-upper">Your current list</span>&nbsp;&nbsp;<span>Sorted by&nbsp;&nbsp;</span><span class="sorting-box"><a href="{{ path('instant_list', {'username': user.twitterUsername, 'order': 'asc'}) }}">date&nbsp;▼</a></span>
  {% else %}
          <p class="title-upper-all"><span class="title-upper">Your current list</span>&nbsp;&nbsp;<span>Sorted by&nbsp;&nbsp;</span><span class="sorting-box"><a href="{{ path('instant_list', {'username': user.twitterUsername, 'order': 'desc'}) }}">date&nbsp;▲</a></span>
  {% endif %}

<span class="addinstant" onclick="document.location.href='{{ path('instant_new', {'username': user.twitterUsername}) }}';">
<!-- Twig -->      
<a  href="#"><img src="{{ asset('images/plus.png') }}" /></a></span></p>
<br /><br />
<div class="isotope js-isotope" data-isotope-options='{ "layoutMode": "fitRows", "itemSelector": ".item" }'>
<!-- Twig -->      
{% for entity in entities %}
  <div class="item">
    <div onclick="document.location.href='{{ path('instant_edit', { 'username': user.twitterUsername,'instant_title': entity.urlTitle }) }}';">
      <header>
        <p class="in-boxes"><span class="title-upper">{{ entity.title }}</span></p>
      </header>
  
      <div class="item-article">{{ entity.description }}</div>
      <p class="description" >{{ nbTwittos[entity.id] }} experts - created on {{ entity.createdAt|date('d M Y') }}<br /></p>
    </div>

  <article>
    <table cellpadding="0" cellspacing="0" width="100%" align="center"  class="glyphs character-mapping">
      <tr class="icons">
        <td><a href="{{ path('instant_edit', { 'username': user.twitterUsername,'instant_title': entity.urlTitle }) }}"><div class="icon icon-edit"></div></a></td>
        <td><a href="{{ path('instant_wview', { 'username': user.twitterUsername,'instant_title': entity.urlTitle }) }}" target="instant_newtab"><div class="icon icon-view"></div></a></td>
        <td><a href="{{ path('instant_embed', { 'username': user.twitterUsername,'instant_title': entity.urlTitle }) }}"><div class="icon icon-embed"></div></a></td>
        <td>
          <form action="{{ path('instant_delete', { 'username': user.twitterUsername,'instant_title': entity.urlTitle }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(deleteForms[entity.id]) }}     
            <button id="del_btn_{{ entity.id }}" type="submit" onclick="return confirm('{% trans %}Are you sure ?{% endtrans %}');" style="display: none;"></button>
            <a  href="#" onclick="$('#del_btn_{{ entity.id }}').click();"><div class="icon icon-trashing"></div></a>
          </form>
        </td>
      </tr>
    </table>
  </article>

  </div>

{% endfor %}
  <div class="item" onclick="document.location.href='{{ path('instant_new', {'username': user.twitterUsername}) }}';">
    <span class="addinstant-list"><a href="#"><span class="icon icon-plus"></span> <br />create an !nstant</a> </span>
  </div>
</div>

          
        </div>
        
        <div class="col-md-4">
          
       </div>
       
       </div>
       </div>
<br/>
<br/>
<br/>
<br/>
{% endif %}

{% include "::footer.html.twig" %}

{% endblock %}
