{% extends '::base.html.twig' %}

{% block body -%}
  <div class="container">
    <h4>{{ instant.title }}</h4>


  <div class="row" style="margin-top:50px; margin-right:15px; margin-left:-10px;">
    
    <div class="col-md-6" >
        <h2>Embed code on your site</h2>
        <textarea readonly style="width:100%; height:200px; border:#ccc 1px solid;">&lt;iframe width='400' height='600' src='{{ app.request.schemeAndHttpHost }}{{ path('instant_wview' , {'username':user.twitterUsername,'instant_title':instant.urlTitle}) }}'&gt;&lt;/iframe&gt;</textarea>
        Just copy this code and paste it on your site or blog. See the <a href="">FAQ</a> for help on using it on wordpress or tumblr.
    </div>


    <div class="col-md-6" >
        <h2>Link to the webview from your app</h2>
         <textarea readonly style="width:100%; height:50px; border:#ccc 1px solid;">{{ app.request.schemeAndHttpHost }}{{ path('instant_wview' , {'username':user.twitterUsername,'instant_title':instant.urlTitle}) }}</textarea>
        Use this address to launch a webview from within your app. See the <a href="">FAQ</a> for help on using it on <a href="">IOS</a> or <a href="">ANDROID</a> apps.
     <h2>View it on createinstant.com</h2>
         <textarea readonly style="width:100%; height:50px; border:#ccc 1px solid;">{{ app.request.schemeAndHttpHost }}{{ path('instant_wview' , {'username':user.twitterUsername,'instant_title':instant.urlTitle}) }}</textarea>
        Use this address to launch a webview from within your app. See the <a href="">FAQ</a> for help on using it on <a href="">IOS</a> or <a href="">ANDROID</a> apps.
    </div>

    <div class="button-twitter"><a href="https://twitter.com/intent/tweet?text=Stay%20informed%20on%20this%20event&url={{ app.request.schemeAndHttpHost|url_encode }}{{ path('instant_wview_id' , {'username':user.twitterUsername,'instant_id':instant.id})|url_encode }}&hashtags=createinstant"><span class="icon icon-z-tw"></span>&nbsp;&nbsp;Share on Twitter</a></div>
    <div class="button-facebook"><a target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.schemeAndHttpHost|url_encode }}{{ path('instant_wview' , {'username':user.twitterUsername,'instant_title':instant.urlTitle})|url_encode }}"><span class="icon icon-z-fb"></span>&nbsp;&nbsp;Share on Facebook</a></div>   
    <div style="clear:both;"></div>
    <br /><br />
  </div>
    
    
    <div style="clear:both;"></div>


  </div>

{% include "::footer.html.twig" %}

<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
{% endblock %}
