<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>!nstant | {% block title %}{% trans %}Welcome{% endtrans %}!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/screen.css') }}" media="screen" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/custom2.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/jumbotron.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />

        <script src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
        <script src="{{ asset('js/isotope.pkgd.min.js') }}"></script>
        <script src="{{ asset('js/lightbox-2.6.min.js') }}"></script>
        <script src="{{ asset('js/modernizr.custom.js') }}"></script>
        <script src="{{ asset('js/jquery.cookie.js') }}"></script>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('css/lightbox.css') }}" media="screen" />

    </head>
    <body>
     <div class="angle2"></div>
     <div class="container">
      <div id="header">
        <a href="{{ path('homepage') }}">
        <div class="logo2" ><img src="{{ asset('images/logo2.png') }}" class="logo2" id="top"/></div>
        </a>
        {% block instant_title %}{% endblock %}
        {% if app.user %}
          {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            <div class="log">
              <div id="user_info">
  
                <div class="text">    <a href="http://twitter.com/{{ app.security.token.user.twitterUsername }}" title="{{ app.security.token.user.twitterRealname }}">      
         <img src="{{ app.security.token.user.profileImageUrl }}" width="48" height="48" class="twitter-img"></a>
                  <a href="{{ path('account_settings') }}" class="tweet-name">{{app.security.token.user.twitterUsername}} ({{app.security.token.user.twitterRealname}})</a><a href="{{ path('cosa_instant_user_logout') }}" class="tweet-logout">{% trans %} Logout {% endtrans %}</a>
                </div>
                <div id="email_edit"></div>
                <span class="clearb"></span>
              </div>
            </div>
            <div style="clear:both;"></div>
          {% endif %}
        {% endif %}
      </div>
     </div>
        <div id="flash-messages"></div>
         {% block body %}{% endblock %}

       <script type="text/javascript">
         {% for flashMessage in app.session.flashbag.get('notice') %}
           $('#flash-messages').append('<div class="flash-message flash-notice">{{ flashMessage }}</div>');
         {% endfor %}
         {% for flashMessage in app.session.flashbag.get('warning') %}
           $('#flash-messages').append('<div class="flash-message flash-warning">{{ flashMessage }}</div>');
         {% endfor %}
         {% for flashMessage in app.session.flashbag.get('error') %}
           $('#flash-messages').append('<div class="flash-message flash-error">{{ flashMessage }}</div>');
         {% endfor %}
       </script>

       {% block javascripts %}{% endblock %}
    </body>
</html>
