<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      <header>
        {% if not is_granted("IS_AUTHENTICATED_FULLY") %}
          <a href="{{ path('connect_twitter')}}">Veuiller vous connecter sur Twitter</a>
        {% else %}
          welcome {{app.security.token.user}}
          <a href="{{ path('cosa_instant_user_logout') }}">Déconnexion</a>
        {% endif %}
      </header>
        {% block body %}{% endblock %}
        <div id=footer>
          <ul>
            <li><a href="{{ path('homepage') }}">{% trans %} Home {% endtrans %}</a></li>
            <li><a href="{{ path('about') }}">{% trans %} About {% endtrans %}</a></li>
            <li><a href="{{ path('who_we_are') }}">{% trans %} Who we are {% endtrans %}</a></li>
          </ul> 
        </div> 
        {% block javascripts %}{% endblock %}
    </body>
</html>
