<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>!nstant | {% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
     <div id="container">
      <div id="header">
        {% if not is_granted("IS_AUTHENTICATED_FULLY") %}
          <!--<a href="{{ path('connect_twitter')}}">Veuiller vous connecter sur Twitter</a>-->
        {% else %}
          <div id="user_info">
            <div class="tweet_image">
              <a href="http://twitter.com/{{ app.security.token.user }}" title="{{ app.security.token.user.twitterRealname }}"><img src="{{ app.security.token.user.profileImageUrl }}" width="48" height="48"></a>
            </div>
            <div class="text">
              <a href="#">{{app.security.token.user}} ({{app.security.token.user.twitterRealname}})</a><a href="{{ path('cosa_instant_user_logout') }}" class="logout">Déconnexion</a>
            </div>
            <div id="email_edit">{# render(controller('CosaInstantUserBundle:Default:setEmailSmall')) #}</div>
            <span class="clearb"></span>
          </div>
        {% endif %}
      </div>
      <div id="body">
        <div id="flash-messages">
          {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-message flash-notice">
              {{ flashMessage }}
              <div class="close-button">X</div>
            </div>
          {% endfor %}
          {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="flash-message flash-warning">
              {{ flashMessage }}
              <div class="close-button">X</div>
            </div>
          {% endfor %}
          {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flash-message flash-error">
              {{ flashMessage }}
              <div class="close-button">X</div>
            </div>
           {% endfor %}
         </div>
         {% block body %}{% endblock %}
       </div>
       <div id="footer">
         <ul>
           <li><a href="{{ path('homepage') }}">{% trans %} Home {% endtrans %}</a></li>
           <li><a href="{{ path('about') }}">{% trans %} About {% endtrans %}</a></li>
           <li><a href="{{ path('who_we_are') }}">{% trans %} Who we are {% endtrans %}</a></li>
         </ul> 
       </div>
       <script src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
       <script type="text/javascript">
         function postEmailSmall()
         {
            
         }
       </script>
       {% block javascripts %}{% endblock %}
     </div>
    </body>
</html>
