<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>!nstant | {% block title %}{% trans %}Welcome{% endtrans %}!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/custom2.css') }}" />
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <script src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ asset('js/lightbox-2.6.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/lightbox.css') }}" media="screen" />
  </head>
{% if webview %}
  <body style="background: white;">
{% else %}
  <body style="background: #666666;">
{% endif %}
    <div id="webview">
{% if webview %}
 <div id="body">
{% else %}
 <div id="body" style="width:50%; margin: auto;">
{% endif %}
        {% block body %}{% endblock %}
 </div>
{% if webview %}
 <div id="footer">
{% else %}
 <div id="footer" style="width:50%; margin: auto;">
{% endif %}
        {% block footer %}{% endblock %}
      </div>
      {% block javascripts %}{% endblock %}
    </div>
  </body>
</html>
