<div class="well">
  <form method="post" {{ form_enctype(form) }}>
  {# Génération du label. #}
  {{ form_label(form.email) }}

  {# Affichage des erreurs pour ce champ précis. #}
  {{ form_errors(form.email) }}

  {# Génération de l'input. #}
  {{ form_widget(form.email, { 'attr': {'class': 'conf-contact'} }) }}

  {{ form_widget(form._token) }}
    <input type="submit" class="button04" onclick="postEmail();return false;" />
    <img id="ajax-loader" src="{{ asset('images/ajax-loader.gif') }}" alt="loading..." style="margin-left: 10px; visibility: hidden;"/>
  </form>
</div>

